[2016-04-01 16:33] sagikazarmark opened #435 "Disable bundles"
I tried to disable the CalendarBundle, but the CommentBundle complained in the migrations. I disabled the CommentBundle, but then something else complained.

Do you have a dependency tree for bundles? Or all bundles in the platform are mandatory?

[2016-04-01 16:48] DimaSoroka commented on #435
As for today all bundles in the Platform are mandatory, we planned to regroup and decouple them in future, but as for now we maintaining this effort only on PR level, feel free to contribute fixes.

[2016-04-01 16:50] sagikazarmark commented on #435
Thanks for the fast response. Would you prefer leaving this open for reference for others?

[2016-04-01 16:52] DimaSoroka commented on #435
yep, lets keep it open

[2016-04-01 17:48] sagikazarmark commented on #287
The exact same issue is happening to me:

`Property Oro\Bundle\EmailBundle\Entity\Email::$user_d41b1c4b does not exist`

My ORO version is 1.9. The interesting thing is that it only happens in production mode, and only for every first cache clear.

Here is what I tried so far (the list will grow as I try new things, because it is currently a blocker for our application, we can't make it work in pr

[2016-04-01 18:12] sagikazarmark commented on #287
For some reasons, this relation is added to the Email entity:

[code]

[2016-04-01 18:36] sagikazarmark commented on #287
Looking at the generated extend proxies: that email entity has the given user field.

[2016-04-01 18:38] sagikazarmark commented on #287
Related #199

[2016-04-01 22:40] sagikazarmark commented on #287
Further looking at this: I think I learned how the Extend bundle works :wink:

Anyway, not sure where this thing fails. It seems that the extend configuration works fine, the generated proxy is correctly aliased.

[2016-04-02 07:25] sagikazarmark commented on #287
Steps to reproduce (you need docker and docker-compose):

[code]

If the issue does not happen, rerun the cache clear, but in my tests, the error always occurred first.

[2016-04-03 05:24] vsoroka commented on #425
The "to-one" associations are added by the next code. Please see https://github.com/orocrm/platform/blob/master/src/Oro/Component/EntitySerializer/EntitySerializer.php#L347-L366. The "to-many" associations are loaded by another method. Please see 'loadRelatedData'.

Could you please describe the issue in more details?

[2016-04-03 11:04] sagikazarmark commented on #287
Interesting news: The issue only persists in production mode with the `--no-warmup` switch.

[2016-04-03 18:41] sagikazarmark commented on #287
I think I was finally able to trace the problem and find kind of a solution, although I am still unsure why this problem only persists during prod cache actions.

The problem occurs in the ProxyCache warmer. It seems that in production environment entity aliases are not loaded before the ProxyCache warmer starts working. (It is called even if the cache command is invoked with `--no-warmup`, becaus

[2016-04-03 19:00] sagikazarmark opened #436 "Don't hardcode console path"
Console path is hardcoded in the [EntityConfigBundle](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/EntityConfigBundle/Resources/config/services.yml#L69). Since Sensio Distribution 4.0 the Symfony 3 directory structure is available (even in Symfony <3.0). However this hardcoding makes it a bit harder to use `bin/console`. I would suggest introducing a parameter which can be overrid

[2016-04-04 19:15] StephenOTT commented on #429
"Add" is for sure a better word than "Send" in this context.  I had suggested "Save", just as a more generic word that can be used throughout the platform regardless of context.

[2016-04-05 09:10] iklymenko commented on #429
@StephenOTT, thanks!

[2016-04-05 14:02] sagikazarmark commented on #287
ping @vsoroka

[2016-04-06 03:39] rtokarchyk opened #437 "SMTP Fails to send through selected SMTP rather sends through localhost"
For some reason, when we try to setup STMP, we get an SMTP failed error.  When our admin checks the server he sees that the application is connecting to localhost rather than to the selected office365 smtp server.

The server log shows the following:

SMTP connection from [108.52.239.21]:35468 (TCP/IP connection count = 1)
2016-04-01 13:05:51 dovecot_login authenticator failed for static-108-52-23

[2016-04-06 05:41] vsoroka commented on #436
Hi @sagikazarmark

Thanks for pointing this issue, we will investigate what we can do with the console path and how to join both command executors: from [EntityConfigBundle](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/EntityConfigBundle/Tools/CommandExecutor.php) and from [InstallerBundle](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/InstallerBundle/CommandExecut

[2016-04-06 17:19] DimaSoroka commented on #437
Please describe how you are trying to do this setup and where error occurs.

[2016-04-06 17:54] rtokarchyk commented on #437
This error occurs when I go to my emails and send an email.  It give the SMTP Failed Error, then we check the logs and that is what is happening.

My admin says that ORO is sending emails through localhost rather then using the SMTP settings.

Are you able to login and help seewhy this is happening.?

[2016-04-06 18:03] StephenOTT opened #438 "Add ability to password protect visibility of fields when inside an entity"
Sometimes there are fields that are sensitive.  Fields that should not be easily accessed or viewed.  This could be in bulk or in on an individual basis.
Even if a user has permissions to view these types of fields, as a general policy for security and sensitivity of the data, there is a common scenario where the field should not be visible unless explicitly requested by the user.  Common examples

[2016-04-06 18:09] DimaSoroka commented on #437
Did you update smtp configuration in parameters.yml?

[2016-04-06 18:10] rtokarchyk commented on #437
We just updated it in the UI user settings.

[2016-04-06 18:11] rtokarchyk commented on #437
Should we update in the parameters.yml.   Do i have to do that one time, or do it one time?

[2016-04-06 18:13] DimaSoroka commented on #437
There are two parts: global SMTP configuration in the parameters.yml for all the emails sent from application and user configuration in the user profile for personal emails in case user wants to get them in the original mailbox "sent" folder

[2016-04-06 18:31] rtokarchyk commented on #437
OK,  can you send me what we need to change so the SMTP uses our company SMTP server?  Do you have a document on it?

[2016-04-06 18:33] rtokarchyk commented on #437
So you are saying the parameters.yml overides the USER settings SMTP settings that we set?

[2016-04-06 18:34] rtokarchyk commented on #437
Our Emails are syncing, but the SMTP does not work.

[2016-04-06 18:39] DimaSoroka commented on #437
No, opposite, user SMTP configuration overrides system one in user session,

[2016-04-06 18:40] rtokarchyk commented on #437
OK well we have the SMTP Settings set for the user and he is unable to send emails.  It throws that error. Are you able to hop on our system and see?

[2016-04-06 19:23] rtokarchyk commented on #437
This does not make sense why the issue is happening.  I would like to get this corrected so we can effectively use the system

[2016-04-06 19:26] rtokarchyk commented on #437
You can see from the log below that is does now use the predefined User SMTP Setting

![image](https://cloud.githubusercontent.com/assets/18299315/14329929/e336ec6e-fc0b-11e5-9338-22a1604c10e2.png)

MTP connection from [108.52.239.21]:35468 (TCP/IP connection count = 1)
2016-04-01 13:05:51 dovecot_login authenticator failed for static-108-52-239-21.phlapa.fios.verizon.net (crm.xxxxxxxxxx) [108.52.

[2016-04-06 19:27] rtokarchyk commented on #437
This is what we do to get the Server error

![image](https://cloud.githubusercontent.com/assets/18299315/14329959/101707b4-fc0c-11e5-9b50-57e86b1ed203.png)

[2016-04-06 19:29] DimaSoroka commented on #437
Please feel free to investigate root cause and provide more details or PR with fix, we do have support options for enterprise edition if you are interested.

[2016-04-06 21:24] rtokarchyk commented on #437
Im confused.  Are you saying that this is our servers issue?  Or is it your application?   Do you have documentation on the Server Configuration setup regarding the email server.

[2016-04-06 22:22] DimaSoroka commented on #437
The issue most likely is with connection to SMTP.

[2016-04-08 03:05] rtokarchyk commented on #437
OK,  We solved the SMTP issue.  There was an issue with WHM where it had a setting that blocked SMTP emails.  We turned it off and that corrected it

[2016-04-08 03:07] rtokarchyk commented on #437
We got the email working, but i am curious.  It seems that the first type i synced the emails, the emails synced for that day.   It has been 2 days later, and when i hit sync on email, there are no more emails being added to the unread folder.

Is there somethign we are missing to do here.

[2016-04-08 03:07] rtokarchyk commented on #437
Here is a screen shot

![image](https://cloud.githubusercontent.com/assets/18299315/14373199/76db2f84-fd15-11e5-8294-41e5d6eb025b.png)

[2016-04-09 01:32] DimaSoroka commented on #438
Thanks for this request, we already added similar item to next release backlog and planning to enable fields encryption on storage level. We'll extend the scope with view options as well.

[2016-04-09 23:57] StephenOTT commented on #438
👍

[2016-04-09 23:57] StephenOTT commented on #438
This in 2.0 release?

[2016-04-10 06:00] DimaSoroka commented on #438
No, next one will be 1.10

[2016-04-11 09:37] amuzalevskiy commented on #420
Hi @StephenOTT ,

Related issue BAP-9965 is fixed in master branch and will be available in the next release.

Thank you,

Andrii

[2016-04-11 09:37] #420 closed

[2016-04-12 03:14] StephenOTT opened #439 "Multi-Monitor Support?"
has any thought gone into supporting multiple monitors with BAP's window based design, side bar, etc?

Similar to: https://golden-layout.com or something similar.

[2016-04-13 14:29] VitaliyBelous opened #440 "How to use operator LIKE in datagrid.yml ?"
How to  use operator LIKE in datagrid.yml with %, eg link like “%word%”?

Native SQL looks
SELECT * from table WHERE link like '%word%';

I tried this in datagrid:
......
     where:
               and:
                      - referral.link LIKE '%%word%%'
.......

but it doesnt work!
Error: "The parameter "key" must be defined."
Do you have some solution?

[2016-04-13 15:30] iklymenko commented on #287
Hi @sagikazarmark,
sorry for a huge delay with an answer. We tried to find quick solution but seems that the issue is more complex that we expected. We will investigate it during next week and will provide you the results here! Thanks for your patience.

[2016-04-13 15:32] sagikazarmark commented on #287
Hi @iklymenko

Thanks for letting me know. Yeah, it is pretty complex, it took me two days to end up with the results above.

Here is my temporary solution for the problem:

https://github.com/webplates/platform-standard/tree/master/src/HotfixBundle

[2016-04-13 15:38] iklymenko commented on #287
@sagikazarmark, thanks we will check it also!

[2016-04-14 12:48] sagikazarmark commented on #434
Anyone?

[2016-04-15 11:45] alex-n-2k7 commented on #434
Hi, @sagikazarmark

will take a look in your case shortly, but it needs some investigation and will take a time
can you please try to configure any of your fields as auditable to check that Exception will go away (or not)? this will help to accelerate the issue investigation

[2016-04-15 14:14] sagikazarmark commented on #434
@alex-n-2k7 Thanks for your answer.

Actually, I think the data audit is only one part of the problem.

For example this is happening to me as well: https://www.orocrm.com/forums/topic/error-when-viewing-a-user-in-oro-bap

Using 1.9.2

[2016-04-15 19:40] sagikazarmark commented on #434
Here is my fix that seems to solve at least one part of the problem:

https://github.com/webplates/platform-standard/commit/ae7fd4b9658c727f68df199b2ac78e3f878aac02

[2016-04-15 21:43] DimaSoroka commented on #439
Interesting idea, thanks for sharing this reference, we will see what could be done around such UX approach.

[2016-04-15 21:48] StephenOTT commented on #439
I think the key use case we keep seeing is that there are many windows that would be useful for secondary monitor.  So even if just the app did a background update for items on the screen that are minimized or none-focused that would be useful.
Right now if you have two different browsers open with the same user logged in, you have to refresh to have things like pins and minimized windows to appea

[2016-04-17 14:51] zizzfizzix opened #441 ""tel:" links in signatures are removed"
When you add a tel: link in your signature it gets stripped off.
`<a href="tel:000000000">000 000 000</a>` becomes just `000 000 000`
It is reproducible every time.

[2016-04-19 11:53] alex-n-2k7 commented on #287
Hi, @sagikazarmark

I've been trying to reproduce your issue but couldn't (
I've tested with version 1.9 of platform on OsX and Fedora23(Redhat) with php version 5.5.34 and 5.6, the both environments were x64
I've also checked yours STRs with docker (with HotFix bundle and without it) but the result was the same - i never saw the exception.

And without possibility to reproduce it's very difficult

[2016-04-19 11:57] lmeliberty commented on #404
Hello,

Do you have news to fix this problem ?
I've the same problem and it's not possible for the momment to update my project for my client.

Thanks

[2016-04-20 07:11] iklymenko commented on #404
Hi @lmeliberty,
since we have already several concerns related to this issue we will work on during next 2 weeks and include fix in the closest release. Thanks for your patience.

[2016-04-20 07:38] lmeliberty commented on #404
Hi @iklymenko,

Great, thanks for your reply.

[2016-04-20 19:11] ishakuta opened #442 "API filtering & field selection"
## Preface

Some time ago we've tried to adjust new OroCRM REST API in our project and ended up with too complicated set of processors, while were able to achieve part of the desired features, we still decided to switch to own implementation using existing/old REST API.

Wondering if it's possible, or what do you recommend to achieve the same using new OroCRM REST API?
## Our implementation

So, w

[2016-04-20 19:23] alex-kuzmenko commented on #417
@mbessolov, do you agree this is a potential issue for the platform? Just adding @yurio to conversation since we had a brief talk about this problem previously

[2016-04-20 20:26] mbessolov commented on #417
It could be a nice improvement if you can propose a solution.

Currently there is no use for such abstracted (decoupled from the current user) permission checking in the existing applications, so it cannot be classified as an issue.

[2016-04-20 20:58] vsoroka commented on #442
Some comments about the issues:

- filters configuration and EntitySerializer’s configuration could be long enough to pass it as query string, and we’d like to get it as JSON, so switched to POST method
_It is known issue and a solution will be implemented in the nearest future. It will be possible to pass filters by POST method._

- impossible to apply complex AND / OR queries with nested conditi

[2016-04-21 09:34] parnas commented on #417
@mbessolov Without arguing anything else (really), I just want to point out that this is about oroplatform, not orocrm. I just don't think that it's fair to state "no use case" for platform, since, apparently, there is an use case, and we are using it :)

[2016-04-21 20:08] vsoroka commented on #417
Hi @alex-kuzmenko
Not sure that I understand the problem right. But here is my vision:
if you need to check permissions for a user that is not logged in at the moment you need to switch the system to work in the security context of this user, do check permissions and then return original security context. This technique is called [impersonation](https://msdn.microsoft.com/en-us/library/windows/des

[2016-04-22 19:38] sagikazarmark commented on #287
Hi @alex-n-2k7

I am going to try to create a little bit more separated environment (like virtualbox), although Docker should be kind of enough IMO. (Also, I tried it on OSX and Arch with PHP 5.5.x and 5.6 as well)

[2016-04-23 10:28] dewos commented on #236
Hi, any news about Symfony 2.8? It is a LTS version, also. Thanks.

[2016-04-23 14:56] sadortun commented on #408
#347

[2016-04-23 15:01] sadortun commented on #218
Any news on this ?

[2016-04-24 08:07] dewos commented on #435
@DimaSoroka  A bundle that would be great to have stand-alone (for plain Symfony usage) is DataGrindBundle. It is already almost "walled", but the dep to SecurityBundle brings in a very long tree of deps (Users, Soap, Cache etc...).

The ideal solution would be a DataGridBundle with minor requirements and an OroDataGridBundle with additional oro features (advanced acl and such).

[2016-04-24 19:17] StephenOTT commented on #441
That happen with all HTML? likely the signature is escaped of HTML and JS for security and formatting?

[2016-04-25 06:51] vsoroka commented on #440
Hi @VitaliyBelous,

Thank you for reporting the issue.
It seems that it is a bug in [SystemAwareResolver](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/DataGridBundle/Provider/SystemAwareResolver.php).

I've added this issue in our backlog.

As a workaround you can create a listener for **oro_datagrid.datagrid.build.before.your_grid_name** event of your grid to add LIKE operator.

[2016-04-25 19:34] DimaSoroka commented on #435
Can't promise we'll have a solution for DataGridBundle soon, but your suggestion definitely has sense, thanks!

[2016-04-25 19:38] DimaSoroka commented on #236
We are going to upgrade to 2.8 later this year.

[2016-04-26 16:50] Krushelnitskiy commented on #441
Hi @zizzfizzix.

Oro Platform uses HTML Purifier for validation URI. By default in HTML Purifier available schema formats (file. ftp, http, https, data, nntp, mailto, news) and HTML Purifier not support schema tel in attribute href.

To resolve this problem in your project you can do the following:

1.  Create class HTMLPurifier_URIScheme_tel

[code]

2.  Regitster HTMLPurifier_URIScheme_tel class

[2016-04-26 16:54] sadortun commented on #441
@Krushelnitskiy will you make a PR with this ?

[2016-04-26 17:20] iklymenko commented on #441
@sadortun, we will include this fix into the one of our next releases. Or we'll do it faster, if somebody contributes it. :)

[2016-04-27 16:00] codesman opened #444 "Twig DateTimeExtension is forced to UTC"
Our system uses the HST timezone. One of our agents recently brought to my attention the fact that the MyEmails datagrid is reporting the email times in UTC and not HST.

I confirmed this on orocrm/platform 1.9.1 today by sending an email at 1:43PM HST, and here is what the MyEmails page shows:

![screen shot 2016-04-26 at 6 19 41 pm](https://cloud.githubusercontent.com/assets/1653589/14839080/94d

[2016-04-27 18:46] zizzfizzix commented on #441
I'm glad that you have found a solution, unfortunately I can't contribute a PR, but I'm looking forward to a future release with the fix incorporated 😄

[2016-04-28 08:30] iklymenko commented on #441
@zizzfizzix, anyway, thanks for heads up on the issue!

[2016-04-29 12:10] tadcka opened #447 "Twig dependency"
Symfony 2.7.\* required twig ~1.23
ORO platform 1.9.\*  required twig 1.20.0

https://github.com/symfony/symfony/blob/2.7/composer.json#L24
https://github.com/orocrm/platform/blob/1.9/composer.json#L25

[2016-04-30 11:57] dewos commented on #435
Wonderful! Please, take in consideration the idea.

DataGridBundle is probably one of the best grid library out there (not only for PHP) and the Symfony comunity would benefit for an usable standalone Bundle (not to mention the probability of more contributions and extensions, also).

@DimaSoroka Do you have any (very very generic) idea for the ETA? Because I might do some experiments in the next

[2016-04-30 15:14] dextervip commented on #408
Shouldn't PHP 7 support be released now? Any updates?

[2016-05-01 11:38] ishakuta opened #448 "Impossible to override User password hashing algo"
@DimaSoroka @vsoroka partially related to https://github.com/orocrm/platform/issues/423

try to add
[code]
to app/config/security.yml

and you'll get Fatal Error cause type hinting in ArrayUtil::arrayMergeRecursiveDistinct
`public static function arrayMergeRecursiveDistinct(array $first, array $second)`

which is because of merge `Oro\Bundle\UserBundle\Entity\User: sha512` with array provided abov

[2016-05-01 12:55] ishakuta opened #449 "api_wsse_secured not uses the same nonce cache as wsse_secured"
Seems like [api_wsse_secured](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/ApiBundle/Resources/config/oro/app.yml#L8) firewall doesn't use [nonce cache] (https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/SecurityBundle/DependencyInjection/OroSecurityExtension.php#L83-L83) nonce_cache_service_id

That leads to ability to use the same nonce twice.

[2016-05-02 21:02] dewos commented on #382
#435

[2016-05-05 16:55] artml commented on #408
@dextervip It is still in development, current estimate is that it will be committed to master in a few weeks.

[2016-05-06 17:17] sagikazarmark opened #451 "Session issue after API call"
There is a strange issue when using Nelmio API doc: Oro does not load anymore. I traced the issue to this error in the PHP log:

`PHP message: PHP Fatal error:  Call to a member function getId() on null in HOME/var/cache/prod/classes.php on line 8266`

I checked that line as well:

`$this->getOrganizationManager()->getOrganizationById($token->getOrganizationContext()->getId())`

Actually I believe

[2016-05-06 18:56] ste93cry opened #453 "Extract MigrationsBundle into standalone repository"
The OroCRM `MigrationsBundle` bundle (apparently) is not tied with any other bundle but the `Log` component. As it's far more advanced that the standard `DoctrineMigrations` bundle, it would be cool if you could make it available standalone in its own repository. I didn't really check if it's true that it does not depend on anything else, I just saw in the `composer.json` that there are no depende

[2016-05-08 23:34] DimaSoroka commented on #435
We may work on this some time next year, not planning to separate DataGrid this year.

[2016-05-09 19:48] DimaSoroka commented on #453
``composer.json`` in this bundle is outdated, if you could validate dependencies and contribute changes that will allow to use this bundle as a standalone - we will be happy to publish it.

[2016-05-10 17:19] iklymenko commented on #449
Hi @ishakuta,
thanks for heads up on this. We will work on this issue in next two weeks and include fix for the next feature release.

[2016-05-13 18:38] dextervip commented on #236
It is important an upgrade to 2.8! It is a step away to symfony 3! Is there any branch to work on?

[2016-05-16 19:44] dextervip opened #455 "Auto refresh data grid for job queue"
It would be useful to have an option which I could indicate a refresh time or similar so that I could watch  whats going on job queue

[2016-05-16 20:10] sadortun commented on #455
update notifications can probably be sent through Ratchet to notify the client.

[2016-05-17 12:16] ed29 opened #456 ""../../package/platform/" is not found"
Hi:

When i do the php composer.phar install --prefer-dist --no-dev command,it has a exception:

 Source path "../../package/platform/" is not found for package oro/platform

How to make it work?

[2016-05-17 13:07] sergeyz commented on #456
Hi, @ed29!

Thanks for report, going to fix this issues asap

Use stable version as an alternative to master branch https://github.com/orocrm/platform/tree/1.9

[2016-05-17 13:30] ed29 commented on #456
OK,fine

[2016-05-17 14:29] dextervip opened #457 "The service "oro_email.workflow.action.send_email" has a dependency on a non-existent service "oro_action.context_accessor"."
I am installing the crm appliaction platform using master to test PHP 7 support however I am getting an exception:

Fatal error: Uncaught Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: The service "oro_email.workflow.action.send_email" has a dependency on a non-existent service "oro_action.context_accessor".

[2016-05-18 10:52] mccar commented on #457
Which version of the application you are trying to install? It is master?

[2016-05-18 11:06] sergeyz commented on #457
Hi, @dextervip !

`composer show --installed | grep oro` is the best way to show installed versions

[2016-05-18 12:44] dextervip commented on #457
All oro packages are in dev-master version. 

On Wed, May 18, 2016 at 4:06 AM -0700, "Sergey Zhuravel" <notifications@github.com> wrote:

Hi, @dextervip !

composer show --installed | grep oro is the best way to show installed versions

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-05-18 12:51] sergeyz commented on #457
dev-master can be different for different moments, depends on commit actually. Please make sure you have latest commits, or post command output here

[2016-05-18 12:59] dextervip commented on #457
composer show |  grep oro
oro/crm                                  dev-master cd86052 OroCRM
oro/crm-abandoned-cart                   dev-master 0077e6a OroCRM Abandoned Car                                                                                                                                  t
oro/crm-dotmailer                        dev-master 153b471 OroCRM Dotmailer int

[2016-05-18 13:17] sergeyz commented on #457
`oro/platform dev-master b37231b` is 21 days behind HEAD

we are going to check lock file is up to date, please do `composer update` for now

[2016-05-18 13:18] iklymenko commented on #408
Hello guys,
PHP7 support is complete for our latest master.

[2016-05-18 13:18] #408 closed

[2016-05-18 13:49] alsma commented on #408
@iklymenko Could you please also update composer.lock in https://github.com/orocrm/crm-application because now it's pointed to platform in this state https://github.com/orocrm/platform/commit/b37231b0a5a775058e36172d12c4a9f7295206bb

[2016-05-18 13:57] LRotherfield opened #458 "Inline editing default route params only supports 'className'"
It looks like due to the configuration node of the inline editing extension, the only key that can be added as a default route parameter is className: https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/DataGridBundle/Extension/InlineEditing/Configuration.php#L91

I don't think this was the intention as the documentation shows other values: https://github.com/orocrm/platform/commit/25520

[2016-05-18 13:59] alsma commented on #408
and the same here https://github.com/orocrm/platform-application/blob/master/composer.lock#L4014

[2016-05-18 18:54] dextervip commented on #457
@sergeyz I updated now but still got the same result. oro/platform dev-master b37231b Business Application Platform (BAP).

[2016-05-19 17:23] hurricane-voronin commented on #448
Hi @ishakuta,

Thanks for your PR, soon you'll see it at master.

[2016-05-19 18:20] hurricane-voronin commented on #458
Hi @LRotherfield,

All additional parameters that you needed in the request will be added automatically.
You just need to specify api accessor route for it e.g:
We can specify custom api accessor for contacts grid:

[2016-05-19 18:34] hurricane-voronin commented on #458
Hi @LRotherfield,

In your case you need to specify custom api accessor, all additional parameters that you needed in the request will be added automatically.
E.g  custom api accessor for contacts grid:

[code]

with route  configuration:

[code]

in this case {id}, {firstName} and {lastName} will be replaced from query values.

[2016-05-20 13:19] ed29 opened #460 "Question:after changing parameters.yml"
Hi:

I installed crm-application and it works fine.Now,i want to make a change to app/config/parameters.yml,i had changed it,but it don't take effect,how to make it work?Was it been cached?

[2016-05-20 13:24] sadortun commented on #460
You can run :
[code]

or delete the `app/cache/dev` and `app/cache/prod` folders

[2016-05-20 14:08] ed29 commented on #460
@sadortun Got it,thank you!

[2016-05-20 14:08] #460 closed

[2016-05-24 13:01] ed29 opened #461 "After cache:clear,get 500 error"
Hi:

I installed and using crm-application,after doing`php app/console cache:clear --env prod`,it will get http 500 error with frontend,and  need to exec `chmod -R 777 app/cache`to make it work.My server are ubuntu, nginx and php5-fpm.

I don't know whether it is a bug or nor.

[2016-05-24 17:54] codesman commented on #415
Hi there @yurio & @mccar ,

It appears that the issue of a linked html image getting "broken" on send has been fixed in either 1.9.2 or 1.9.3.  I just tested a clean install of platform-application 1.9.3 and sent an email that had an image link and it went just fine, so the "hack" in Mailer/Processor is not necessary.

Do you know what was changed that fixed this?

Thanks, Tom

[2016-05-24 21:06] DimaSoroka commented on #461
Please make sure that ``app/cache`` has write permissions (recursively) for web server user. What we seeing happening in the scenario you described, when you call clear cache command it creates folders and files that are owned by your user and web server user doesn't have write permissions to created folders.

[2016-05-24 22:24] codesman commented on #415
So, now that the html linked image is fixed in the platform core, all I need to do in my app is remove the `bdesk_photo` icon from the toolbar so users can't use it.

I can accomplish this by editing the `$toolbars` property directly in `\Oro\Bundle\FormBundle\Form\Type\OroRichTextType.php`, but I can't get it to work by extending the service class from my bundle.

My Bundle has a form_type.yml th

[2016-05-25 03:34] ed29 commented on #461
@DimaSoroka I understand now,thank you.

[2016-05-25 03:34] #461 closed

[2016-05-25 05:45] sadortun opened #462 "Changelog maintenance"
Hi Oro team,

Would it be possible that when PR are  merged into master to keep up to date the CHANGELOG.md ? It would be much easier to track added features.

For example, GitLab have a nice way to include not yet released features and bug fixes :
https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG

The sane apply to the orocrm/crm project

[2016-05-25 10:29] Krushelnitskiy commented on #415
Hi @codesman

You override property $toolbars, but in OroRichTextType class methods use operator self to get values from  $toolbars. To make work Late Static Bindings we should use static in OroRichTextType to get values from $toolbars.
You can copy method setDefaultOptions from  OroRichTextType into AcmeRichTextType.

[2016-05-26 18:13] codesman commented on #415
Thank you @Krushelnitskiy , it's working!

[2016-05-27 13:05] sagikazarmark commented on #451
In the meantime, I found that the API doc sandbox sends the PHPSESSID cookie to the server, which messes up the session. I don't know if it is a Nelmio issue or not (and if it's fixed or not, since the nelmio version is quite old here), but it's an anti-pattern (or rather a bug). REST is stateless.

[2016-05-27 13:10] yurio commented on #451
Hi, @sagikazarmark. This issue was fixed and will be available in nearest release

[2016-05-27 13:16] sagikazarmark commented on #451
Can you reference the fix here? Then we can probably close the issue.

[2016-05-28 00:00] DimaSoroka commented on #456
Issue was fixed, thanks again!

[2016-05-28 00:00] #456 closed

[2016-05-28 17:10] sadortun commented on #424
Hi @artml do you have an ETA for this ?

[2016-05-30 09:18] stepansib opened #463 "Inline editing behaviour looks not working. All columns have enabled inline editing"
I have following config for my datagrid:

[code]

As we can see i allow inline editing only to column "name"
The inline editing behaviour is `enable_selected`. I expect that all columns will be not editable in grid but only the "name" column. Instead of this, all the columns are editable.

Oro Platform 1.9.0

[2016-05-30 13:10] Numkil opened #464 "SecurityController loginCheck triggered sometimes."
Hey Orocrm,

I'm sorry this issue is very vague but I've been unable to find a reason for this happening.

I have been working on a project based on the Oro-platform. People have been reporting that sometimes, very rarely, they get a 500 internal server error when trying to log in. The error message when this happens is this. ```You must configure the check path to be handled by the firewall using

[2016-05-31 13:10] ishakuta commented on #448
@hurricane-voronin won't you update 1.9 branch with this fix?

[2016-05-31 15:52] DimaSoroka commented on #448
@ishakuta, feel free to submit PR, we are welcome contributions to maintenance branches with latest minor version and to master. All ongoing maintenance is done in the master except customer support issues and community contributions.

[2016-05-31 18:01] ishakuta commented on #448
@DimaSoroka that's basically the same two commits to cherry-pick from master :)

[2016-06-01 10:09] amuzalevskiy commented on #463
Thanks for your report.

You described right behaviour. I've checked out client-side realization. It seems that client side is working correctly. Sent this issue to the backend team.

Andrii

[2016-06-01 13:31] mkudelya commented on #463
I'm working on our issue

[2016-06-01 15:17] mkudelya commented on #463
We have made fix and include it for the next release.

[2016-06-01 15:30] stepansib commented on #463
@mkudeliya, good news, thanks, will wait for release!

[2016-06-03 03:01] ed29 opened #466 "Question:how to control the speed of sending emails"
Hi:

I am using crm-application,and i an using smtp to sent subscribed emails.But maybe it's too fast of the sending speed by default,my email accout is limited by server.

So,i want to known can i control the speed of sending emails,how to set the pause between the emails?

[2016-06-04 11:43] #466 closed

[2016-06-09 01:41] ed29 opened #467 "How to set sent mail frequence"
Hi:

I am use the SMTP to sent mail,i want to control the frequence of sending mail,example:sent a mail every 20 seconds.

How to make it?

[2016-06-09 02:39] DimaSoroka commented on #467
Could you please explain a bit more your case and the reason for such delay?

[2016-06-09 03:10] ed29 commented on #467
I use third part SMTP account,they limit the amount of mails per minute,beyond the limit the account may be blocked.so,if i don't set the delay,it can't sent out the  subscripted emails.

I don't really known the SMTP account's limit,bus i has have an account been blocked.

[2016-06-09 03:32] DimaSoroka commented on #467
I would recommend to use specialized services like [sendgrid ](https://sendgrid.com/) for this purpose instead adding a hack to the application.

[2016-06-09 03:40] ed29 commented on #467
OK,i will have a try.

[2016-06-09 03:40] #467 closed

[2016-06-09 10:19] sbani opened #468 "Inline Edit Bug: frontend currency type"
Hi,

I found a bug while using the inline edit functionality for currency.
We use the german language where you input `200.003,20` instead of `200,003.20`.

But when you try to input `,` during inline edit you see the error:

Is there a way to fix it?

[2016-06-10 14:48] artml commented on #468
Hi Sufijen,

A bug can always be fixed :) would you like to contribute the fix yourself or wait for our fix?

This is most likely a problem with frontend validation of the control.

[2016-06-10 14:52] artml commented on #464
Hi Kevin,

Thank you for bringing this up. We haven't encountered anything like that but will gladly investigate it if you provide us at least an application log next time this happens in your project. Or a log from the past if you have one at hands.

[2016-06-10 15:07] artml commented on #462
Hi Samuel,

Thank you for your suggestion. We'd like to have a similar file, but the sheer size of our product changes will require a lot of additional work that is not feasible to be done manually.

Do you know any tool that might compose such file automatically? It would be a nice help to us.

Thank you!

[2016-06-10 15:18] sadortun commented on #462
Hi @artml I don't know a particular tool that can do this.

For the changelog, the idea is only to use it to track new Epics and noticeable changes, not every commits. At least to have an idea of what is going to be included in the next releases.

I am sure that many of us are trying to scan the huge commit log to see  what was implemented, which is long and painfull !

[2016-06-10 15:20] sebheitzmann opened #469 "LinkProperty don't work if label is null ( left join on foreign table )"
I use the link property in a datagrid to make a link to a foreign record. It works good if the foreign key is not null but when the foreign key is null the route cannot be generated and should not.

[code]

I think that the getRawValue for LinkProperty should return "" if the label is empty;

[code]
That was done in the suggestion from the issue #149

But maybe I missed something in the usage.

[2016-06-10 15:39] artml commented on #462
@sadortun I see what you mean. I've created a [pre-release for 1.10](https://github.com/orocrm/crm/releases/tag/1.10.0), please see if this is what you're looking for?

(There's not a lot of text yet, I'm just checking the concept. Will add more if it's the thing.)

[2016-06-10 17:17] sadortun commented on #462
It's  a start, but I don't believe it enough. Behind the scene, here is the foundamental question the changelog must be able to answer.

[2016-06-10 17:28] artml commented on #462
@sadortun I think the best solution would be a case-to-case approach. If you are interested in any particular feature, open an issue here and discuss it with us. We will take it into consideration and then decide if we are going to [implement it ourselves](https://github.com/orocrm/crm/labels/scheduled%20for%20implementation) (and provide a more or less fixed implementation timeline) or [open the

[2016-06-10 17:30] artml commented on #462
@sadortun re: roadmap. IDK if GitHub has any tools for it. I would prefer to create no more than one or two future releases that roughly corresponds for a half year down the road. What time horizon you're looking at?

[2016-06-10 17:41] sadortun commented on #462
Ok, if you would like, you can tag Milestones to issues, that would give a good idea of your short amd mid-term plans

[2016-06-12 09:54] sbani commented on #468
thank you @artml for your fast response! I will update here on monday if I find something or not. I don't have that much time for research for this topic.

[2016-06-13 14:31] artml commented on #462
@sadortun that's exactly what I'm going to do.

If this solves the problem you've raised, can I close this issue for now?

[2016-06-13 14:32] sadortun commented on #462
Yes, i think everybody will enjoy it  !

[2016-06-13 14:32] #462 closed

[2016-06-13 14:35] artml commented on #469
@sebheitzmann can you please create a PR so we can review it?

Thank you.

[2016-06-14 15:33] axelmm opened #471 "UX: Lack of info about filtering while browsing records/entities"
Scenario:
- apply filter in grid view;
- enter view for any filtered record;

If filter reduces number of records you'll be able to view only filtered set of records (by pagination).
It **works as expected** but there is no info about:
- applied filter;
- filter details;
- number of total records;
- possibility to clear filter .. etc.

Shouldn't filter block (minimized?) be inserted "before conten

[2016-06-14 18:33] artml commented on #471
@axelmm So you'd like to see the applied filter somewhere in the pagination control on the record view, am I getting you correctly?

[2016-06-14 22:21] axelmm commented on #471
This is about views **being self descriptive**.
In grid view we can see "ALL" "Contacts" followed by "Options" and **conditionally** "Edited" addition appearing when some filters or sorting are applied. We can directly see all filters, their conditions and from all these **deduce** that list is filtered. **This isn't explicit shown**, we can even see in pagination description "Total of {{ totalRec

[2016-06-15 06:58] sbani commented on #468
Update: I have similar problems with the `datetime` frontend type. I will spent a short time for research and will post my findings

[2016-06-15 09:08] sbani commented on #468
I think you are using the [wrong](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/FormBundle/Resources/public/js/app/views/editor/number-editor-view.js#L56) number formatter.
The correct one:
[code]
But I really don't get why there are 3 number formatters in the project which do basically the same.
And I don't find a solution for the js validator because it's always returning that th

[2016-06-15 16:33] artml commented on #468
I see. Thank you for the report, we will be fixing it soon. (Hard to tell _how_ soon, but I will update the issue accordingly.)

[2016-06-15 16:51] artml commented on #471
@axelmm Thanks for the detailed description, it's very clear now.

I definitely see value in this request but it's hard to provide any timeline for our own implementation. Therefore I will mark it as open for contribution for now and if our priorities change, will update the issue accordingly.

Thank you for helping us become better!

[2016-06-15 17:27] artml commented on #444
Closing this along with the related PR on @codesman 's request

[2016-06-15 17:27] #444 closed

[2016-06-15 17:57] artml commented on #356
Fixed in 1.9 release. Thanks for reporting this!

[2016-06-15 17:57] #356 closed

[2016-06-15 18:04] artml commented on #317
No activity on this issue for 30 days so I assume it has been resolved. @alexkuk feel free to reopen it if necessary.

[2016-06-15 18:04] #317 closed

[2016-06-16 07:48] sbani opened #472 "[BUG] DateTime localization bug in datagrid"
Hi all,

just tested a `datetime` field.
The form field type is `oro_datetime` and in the oro settings is *Germay* and *Europe/Berlin` set.
If I input `06.10.2015 00:00:00` the database is filled with `05.10.2015 22:00:00`. That's UTC and it's correct.
Opening the (big) form again displays the correct datetime too.

**But in the oro datagrid, the datetime is wrong. (displays UTC time from database

[2016-06-16 10:11] sebheitzmann commented on #469
Done

[2016-06-16 15:14] artml commented on #469
@sebheitzmann thank you! I see that our dev team has already started the review process.

[2016-06-16 15:26] artml commented on #472
@sbani we're going to have a major release pretty soon (in July) so it's highly unlikely that we'll do a bugfix release for 1.9 branch before that.

Thank you for reporting this bug, we'll do our best to fix it within 1.10 release.

[2016-06-16 16:55] sbani commented on #472
major release? 1.10? "pretty soon" in july? you are joking right?

this is a serious bug. the datetimes are wrong in each grid, on every site, whenever somebody is using datetimes.
It means that invoices will be sent at the wrong time, messages go out too early or too late.

I'm sorry, but this is not acceptable and makes me very angry. Especially because there is another task with more bugs for t

[2016-06-16 17:31] DimaSoroka commented on #472
@sbani, if this issue is critical for your use case feel free to submit contribution and we'll process it or get an enterprise license and we'll support you based on our SLA.

Our interaction with community is not ideal, but we constantly improving it, i hope you noticed this. Using an open source product means to get tons of features for free and be able to contribute to it, we covering this part

[2016-06-16 17:44] mbessolov commented on #472
Hi @sbani,

I'm sorry that this issues causes so much frustration. We value our community which consists of all users of our products (both enterprise and community editions), partners and developers. We try to share as much as possible with the community and welcome and appreciate all the feedback we receive.

As you may understand sometimes it requires additional time and resources to be involve

[2016-06-17 06:38] sbani commented on #472
Hi @mbessolov, @DimaSoroka,

thanks for your fast answers. I really appreciate that you take care about my concerns.
I know that (human) resources are limited. I know that there are always more tasks than manpower.

Let me explain some points here. I don't want you to think I just want to blame Oro without any solution or the intention to enhance it.

## JIRA:
In my opinion, all issues which affec

[2016-06-17 15:54] artml commented on #382
Since we have another newer issue about the same topic, I'm closing this one as a duplicate. Please continue discussion in #435

[2016-06-17 15:54] #382 closed

[2016-06-17 15:57] artml commented on #132
No activity for almost two years so I assume this issue has been resolved. @Zyles feel free to reopen if necessary.

[2016-06-17 15:57] #132 closed

[2016-06-17 15:59] artml commented on #115
@kelton23om our new API should really improve the state of things. Please check the [documentation](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/ApiBundle/Resources/doc/index.md) if you're interested.

[2016-06-17 16:29] artml commented on #447
@tadcka thanks for pointing this out. Does this cause you any problems with install or update?

[2016-06-17 16:31] artml commented on #438
@StephenOTT unfortunately we had to reconsider our plans, so this won't be released in 1.10, but we'd still like to ship it by the end of the year.

[2016-06-17 16:40] tadcka commented on #447
@artml yes, i want update symfony with composer but get twig conflict. Symfony improve  container dump time https://github.com/symfony/symfony/pull/18265 Platform container dump use much time.

[2016-06-17 17:47] artml commented on #447
@tadcka okay, thanks for clarification. We will try to resolve this issue asap.

[2016-06-21 15:25] josemartins92 opened #475 "After create a field type Select in a entity ocurred Error in Proxy Loader"
#### Hey , guys , first of all thanks for the great tool that you are devoloping
##### its well design i been working only width api and made allot of customizations and this is my first question , so thanks most of your bundles are briliant.

#### My Problem
 When i create a field Type Select in production mode. After update de Schema everything in gridBundle and detail of entity works, **but whe

[2016-06-22 10:25] #475 closed

[2016-06-23 00:02] DimaSoroka commented on #472
Thanks @sbani, your feedback is very clear, we love to have this kind of conversations.

GitHub is very good code collaboration tool, but unfortunately issue tracking capabilities are not there yet and we can't retire Jira in favor of GitHub. Majority of new features are covered in our [roadmap ](https://www.orocrm.com/orocrm-and-platform-roadmap) so no surprises to community on what is coming.

I

[2016-06-24 09:05] sbani opened #476 "CSV Export Bug (Excel) with UTF-8 BOM and multiline Fields"
Hi all,

exporting a datagrid to a csv (from a datagrid.yml grid or a report) leads to multiple errors in excel.
Excel is not very tolerant with csv, but nearly everyone who wants to export a csv opens it in excel.

Bug 1:
BOM is missing. That's why you see excel encoding errors.

Bug 2:
The newlines within a field are made with `\n\r`. This is not correct and should be `\n` only.

I start working

[2016-06-24 13:16] sbani commented on #476
Further read: http://stackoverflow.com/questions/15974163/export-csv-for-excel
Excel makes me going crazy.

Do you have any further knowledge here? Perhaps the separator should be `\t` too?

[2016-06-24 17:55] sadortun opened #478 "Feature Request : Add/Edit Select and Multi-Select fields"
Hi ORO Team,

The current enum field editor is very pretry, and works nice if you only have a few values, but in the case of many values 20+ you need to enter them by hand, which is very long and painfull.

Would it be possible to add a simple textbox with `one value per line`

Thanks,
Samuel

[2016-06-24 20:02] sadortun opened #479 "[WIP] Extend entities improvements"
Hi Oro Team,

We would like to improve the Extend Entities bundles to improve it ease of use and make it more efficient for RAD. We would appreciate your feedback on this topic in order to decide if a PR could be merged back, or if we should submit an extension. Feel free to email me, or we could schedule a call.

We have a couple of basic requirements that would help to make more use of the Exten

[2016-06-24 21:47] DimaSoroka commented on #479
hi @sadortun

Requirements you described are currently supported:
- Developer can introduce new entity types and work with extended entities as with regular doctrine entities
- Relations are supported and could be defined by developer
- On entity level you can define system fields (locked) and extended ones (could be updated by manager)
- Manager could delete only custom entities, if extended enti

[2016-06-24 22:10] sadortun commented on #479
Hello @DimaSoroka,

Thanks for your quick update!  I've already noticed that your points are already supported. The current workflow require the developer to create the entities first in a bundle. The goal of the addition would be to be able for the manager to create the new entities. And then, later on, if needed to have the developer add new functionalities to the pre-existing entities created b

[2016-06-24 22:47] DimaSoroka commented on #479
If i understood you correctly, you are looking for Manager to define initial data structure first and then Developer to be able to use it as a starting point. I think this will be very valuable addition.
We will be happy to participate in the solution architecture design and review.

[2016-06-25 00:31] sadortun commented on #479
Exact ! We are happy to see you are interested in the idea!

[2016-06-27 02:45] sadortun opened #480 "[Bug] "Choice" inline edditing fail in grid"
Hi,

Changing the ORO Contact Gender field inline in the grid fail  due to an exeception in JS validation.

It look like `vendor\oro\platform\src\Oro\Bundle\FormBundle\Resources\public\lib\jquery.validate\additional-methods.js` is not included, therefore jquery.validate fail on any custom validation.

![image](https://cloud.githubusercontent.com/assets/794449/16367221/4963b01c-3bef-11e6-821b-b8d8b

[2016-06-27 08:23] Grygir commented on #480
Thank you for reporting this bug, we'll do our best to fix it within 1.10 release.

[2016-06-27 09:32] artml commented on #476
@sbani thanks for helping us on this. I guess the proper solution to this problem will be an Excel-specific export, but that's another task for the future.

What Excel version do you use for import by the way?

[2016-06-27 11:45] artml commented on #478
@sadortun we allow to import entity fields via CSV, maybe it will help relieve the pain?

I'm afraid that one value per line textboox won't allow for advanced enum capabilities, such as choosing a default value, or working with "system" values that cannot be deleted. (We don't have these yet, but will have them in 1.10 release—some lead and opportunity statuses won't be removable.)

[2016-06-27 12:14] sbani commented on #476
We need:
Excel for Mac v15
Excel for Windows: Excel 2006 and Excel 2003

Im added an excel specific export! It works great but I have problems when batchSize is exceeded because I can't just echo to `php://output`. I think I need to create a tmp file and send to php://output afterwards

[2016-06-27 12:23] artml commented on #476
@sbani wow, that's some cool addition!

Do you want to submit the PR, or create an extension for the marketplace?

[2016-06-27 13:23] sbani commented on #476
sure. I will post my PR asap.
But I need to create a better code base for more options and I need better tests. CSV and XLS(X) should probably have the same base classes. At the moment it's just a "quick fix"

[2016-06-27 13:33] sadortun commented on #478
Hi @artml I totally understand the implication. Maybe the `quick edit` mode should not be available for system entities. For the selection of default, i think it still dooable. In my opinion, the textarea view should only be to add or modify bulk values, the current view would be still the main view.

If you have already tried to populate many values, you will notice that it very impratical to do

[2016-06-27 13:55] sadortun commented on #381
@artml Any news on this ? Issue is still in `master`

[2016-06-27 14:09] sbani commented on #476
I added the export. Hope it's enough. I created everything for `1.9`, so haven't tested in UI for `1.10`.
This should fix most of the "excel" problems but the csv bugs are still present.

As I stated in the PR: A refactor should be done, because it makes sense to use the same code base for all kind of csv, xls, xlsx file creation.

I could do it but I first have to implement the hole thing for our

[2016-06-27 14:30] artml commented on #476
@sbani thanks! We will check it for 1.10 branch as well.

[2016-06-27 15:35] adamjakab commented on #267
This has been fixed ages ago: https://github.com/orocrm/platform/blob/093cbf02dc9075fa5a7f19ec7f0e4c5055cc1c29/src/Oro/Bundle/EmailBundle/Resources/config/services.yml#L361
there was a trailing '='

[2016-06-27 15:35] #267 closed

[2016-06-27 15:59] sergeyz commented on #267
Hi, @adamjakab, its not a typo, see http://symfony.com/doc/2.3/cookbook/service_container/scopes.html#using-a-synchronized-service

Old Symfony 2.3 staff and was removed during migration to 2.7

[2016-06-28 10:20] sadortun commented on #479
Hi again @DimaSoroka please send me en email to see how we can coordonate to implement this.  We need something working around July 20, we should have the architecture and design ready somewhere around the end of next week.

[2016-06-28 10:25] sadortun commented on #389
HI @StephenOTT did you implement that feature ?

[2016-06-28 10:32] sadortun commented on #422
We will also need this feature

[2016-06-28 14:18] StephenOTT commented on #389
No not yet.

[2016-06-28 16:24] artml commented on #422
@sadortun @StephenOTT I'd like to see it in the product too, but it's unlikely that we start development of this feature by the end of this year. Making it open for contribution, will change the labels when we prioritize the issue.

[2016-06-28 16:33] artml commented on #415
@codesman looks like your problem has been fixed, can we close this issue? Thank you.

[2016-06-28 17:12] artml commented on #448
The pull request has been merged so I assume this can be closed.

[2016-06-28 17:12] #448 closed

[2016-06-28 17:17] ste93cry commented on #453
sorry for the long delay in replying to this issue. I think it would be easier for me if you could extract the bundle into its own repository, so it would be easier for me to install it through composer and validate the dependencies without having to download the whole platform. What do you think about it?

[2016-06-28 18:04] #415 closed

[2016-06-28 18:08] StephenOTT commented on #424
@artml @DimaSoroka, I think the best approach to solve this tag issue is to build a core tag system (Taxonomies and Terms), where terms have have parent child relationships, and that each Taxonomy is likely a entity that extends the base Tag/Taxonomy entity. (or something like that).

The current Tags implementation is fairly specific to "Free Form Tags" that are applied to certain entities, but a

[2016-06-29 13:17] artml commented on #391
@StephenOTT not yet. We have plans to document it but it's hard to tell when exactly.

[2016-06-29 13:26] artml commented on #424
@StephenOTT no objections from our side, it's just not on top of our priorities list at the moment. Current tags are good enough for most use cases, and there are other areas of OroCRM that call for more immediate improvement.

I'm leaving this as open for contribution for now.

[2016-06-29 13:33] artml commented on #381
@sadortun tested it at our current dev master with Ukrainian address and the map works perfectly (pic related). Which country doesn't work for you?

![address](https://cloud.githubusercontent.com/assets/4727902/16453900/32176d0c-3e17-11e6-8800-c3766306aa25.png)

[2016-06-29 13:41] sadortun commented on #381
In Canada

[2016-06-29 13:49] artml commented on #381
Canada is fine too. I even tried omitting the province in the address, but it still points to the correct location.

![bmo field](https://cloud.githubusercontent.com/assets/4727902/16454335/fe392d0c-3e18-11e6-809b-c655c06a429b.png)

¯\_(ツ)_/¯

What are your STR? I just create a contact with an address, that's it. The build is yesterday's master.

[2016-06-29 14:09] sergeyz commented on #404
Hi! Fixed in 1.7-1.9 branches and master https://github.com/orocrm/platform/commit/0156e977fe0abb8b57717489408448788024a4e9

[2016-06-29 14:10] #404 closed

[2016-06-29 14:24] sadortun commented on #381
This was release not long ago by Google.

https://developers.google.com/maps/pricing-and-plans/standard-plan-2016-update

[2016-06-29 14:35] sadortun commented on #381
FYI 2 :

**On the Oro Demo,** Google Maps diplay the following warning in the console
![image](https://cloud.githubusercontent.com/assets/794449/16456162/f7c9f9a8-3de4-11e6-8f1d-353e9eba0685.png)

Versus on **my installation** :
![image](https://cloud.githubusercontent.com/assets/794449/16456188/13380770-3de5-11e6-86f7-5100a9845435.png)

[2016-06-29 15:18] artml commented on #381
@sadortun apparently these API changes are rolled out gradually and some of our servers are already affected while others are not. We'll investigate it so the appropriate changes are included into 1.10 release.

Thanks for the info!

[2016-07-03 04:52] sadortun opened #483 "Tables that contain `\` cause the migrations to fail"
Hi !

When creating by accident a table that contain a `\` in the name, `abc\def` The migration fail to read and escape correctly the table names.

$ php app/console oro:platform:update --env dev --force
Process migrations...

[code]

[2016-07-03 04:58] sadortun commented on #483
Looks like a bug in doctine ....  values are not escaped correctly ....
https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Platforms/MySqlPlatform.php#L373

[2016-07-03 05:03] #483 closed

[2016-07-03 05:10] sadortun commented on #424
I've started working on something.... to be continued

[2016-07-04 00:32] sadortun commented on #424
Hi @artml  Master doesnt seems to [build](https://travis-ci.org/orocrm/platform/branches) ? What is the best version to use to test and validate  a PR ?

[2016-07-04 12:42] sbani opened #484 "[BUG] PHP Fatal: DashboardBundle/Model/WidgetConfigs.php"
Found a bug related to the dashboard bundle.

`The DashBoardController:widgetAction` checks for dashboard.yml config but doesn't check for the Bundle param.

## Example
URL: `http://crm-dev.dev/dashboard/widget/my_leads/XXXBundle/myLeads?_wid=dashboard-widget-623280200-94&_widgetContainer=dashboard-item&_widgetId=94`

The XXXBundle doesn't exist and leads to an error.

EDIT: the error comes from t

[2016-07-04 13:05] sbani commented on #484
If the web server shows fatals, this could be seen as a [Full Path Disclosure](https://www.owasp.org/index.php/Full_Path_Disclosure) for a logged in attacker.

[2016-07-05 00:31] sadortun opened #486 "[Bug] 500 response during DELETE display "Permision Denied""
When a Ajax DELETE request return a `500`,

![image](https://cloud.githubusercontent.com/assets/794449/16571190/95633a7e-4224-11e6-8a71-e2d3530224bf.png)

The error handler assumes that the permision was denied.
![image](https://cloud.githubusercontent.com/assets/794449/16571178/517f1a62-4224-11e6-8e7a-f03a77546a59.png)

[2016-07-05 05:53] sbani opened #488 "Dashboard: "Same Grid" on the same site is only rendering once"
Hi,

I have built two Dashboards with the same Grid as content, but with different params.
## Problem

The dashboard shows two times the content of `state: state1` (the first dashboard).
## Guessing the solution

I haven't found the problem itself, because the requests and the response content of the subrequests look good.
I think the problem is the datagrid js renderer, because it seems like it's

[2016-07-05 16:39] adamlundrigan opened #490 ""The exclusion_policy must be all" when creating entity via API"
I'm running `dev-master` so I can work with the new parts of ApiBundle.  Retrieving an instance of my custom entity works very well but when I try to create an instance via POST:

[code]

 I get a 500 with this response:

[code]

The Registration entity I'm trying to create there has 4x ManyToOne associations -- Offering, Group, Employee and Profile.

<details>
<summary>This is how the entity is c

[2016-07-06 04:36] vsoroka commented on #490
Hi @adamlundrigan,

- In whole your configuration is correct. But in term of JSON.API it is not good idea to return details of related entities if a client does not request it directly. Please look at [Inclusion of Related Resources](http://jsonapi.org/format/#fetching-includes) and [Sparse Fieldsets](http://jsonapi.org/format/#fetching-sparse-fieldsets). So, you can keep your api.yml file very si

[2016-07-06 06:44] sbani opened #492 "Load datagrid.yml from multiple files"
Hi,

as our `datagrid.yml` file is growing and growing, we want to suggest a datagrid folder in `Rosources/config`.

I thought about a combination of `FolderContentCumulativeLoader` and the `YamlCumulativeFileLoader`. One possibility is to add callback to the `FolderContentCumulativeLoader` which iterates over the loaded file names.

Example:

[code]

What do you think? Or do you know a better app

[2016-07-06 09:08] Deltachaos commented on #419
@mccar seems like this has been solved by 6051888f2aae89633f99f1a7ecbdc39130ec82c8

[2016-07-06 14:38] sergeyz commented on #492
I suggest it to store under `Resources/config/oro` folder

[2016-07-06 15:11] sadortun commented on #492
@sergeyz  `Ressources/config/oro/datagrid` ?

[2016-07-06 15:34] sergeyz commented on #492
Yep, to split from symfony configs

[2016-07-06 16:44] sadortun opened #493 "1.10 branch ?"
Hi @artml.

Since 1.10 is already tagged in beta, do you think you could push a `1.10` branch ?

Have a good day,
Samuel

[2016-07-07 12:04] adamlundrigan commented on #490
Thanks for the tip!  I read the docs and code for ApiBundle but I didn't think to look at the JSON.API docs.

Fantastic.

Thanks.  It is a blocker, but since this project is still in development I've added a patch to my application to remove those lines temporarily so I can keep moving, and that doesn't appear to have triggered any side-effects yet so it's fine.  If a related problem pops later up

[2016-07-07 18:56] ste93cry opened #494 "Extract Layout component and bundle into own repository"
Thanks to your hard work for the platform, in my opinion you're creating some of the best and useful bundles. The `Layout` component, and its bundle, are something unique that it would be great to see released without the need to download the whole platform. Looking at the `composer.json`, it seems that they are decoupled enough to be extracted into their own repositories without much work. Can yo

[2016-07-09 17:17] adamlundrigan commented on #494
I saw this pop up recently [on Twitter from fabpot](https://twitter.com/fabpot/status/739860138564149248):

 - https://github.com/splitsh/lite

It's a stripped-down version of the tool that Laravel and Symfony use internally to one-way-sync their component sub-tree splits from the monorepository.  The full system isn't open-source (yet?) but OSS projects may be able to piggyback on the same system

[2016-07-09 17:26] adamlundrigan commented on #492
The workflow bundle uses this notation to allow splitting up YAML files:

[code]
([source](https://github.com/orocrm/platform/blob/2ac18cce58767af45462b78ddb569019782a4e0b/src/Oro/Bundle/WorkflowBundle/Resources/doc/reference/workflow/configuration-reference.md))

I tried the same approach with one of my `datagrid.yml` files but it does not work there ("A configuration for "xxxxxx" datagrid was no

[2016-07-10 04:10] sadortun opened #497 "Entity management should be auditable"
Hi Oro Team !

Have you thinked about making the Entity Management section auditable ? Would be great if the changes made in the entities themself would appear in the data audit section.

Have a good day,
Samuel

[2016-07-10 04:17] sadortun opened #498 "Entity management "Usage Count" field type"
Hi Oro Team,

Like the otherS issues we've submitted, this is something that would improve Oro and if it's not on your roadmap, i am sure the community (or our self) could contribute this feature. I hope that you dont see theses issues as an annoyance :sweat_smile:

The Tags have a Usage count colunm, I thnk that it would be very nice to be able to create read-only field when a relation ManyToOne

[2016-07-10 07:23] startupz commented on #497
It's a really good idea! One of our customer already ask us for this. They discovered new fields on some entities and they didn't know which administrator created them.

[2016-07-10 17:25] sadortun opened #499 "Segement datagrid results are not inline edditable"
Hi Oro Team,

When viewing a segment results for Contacts, it would be nice if the results were edditable inline.

Have a good day,
Samuel

[2016-07-11 05:59] sbani commented on #492
In my opinion, @adamlundrigan's solution with `imports` is better than my first idea

[2016-07-14 09:08] z38 opened #500 "Extract oro/property-access to fix oro/config"
To complete the work done in #405 and #406, `oro/property-access` should get uploaded to Packagist.

In addition, the subtree split of `oro/config` seems to be outdated. Is there any way to update it automatically?

[2016-07-15 14:13] adamlundrigan opened #501 "dev-master API and Doctrine ORM inheritance mapping"
I'm running `dev-master` so I can work with the new parts of ApiBundle.  I've set up an entity `CourseRegistration` which has ManyToOne associations with a few other entities, one of which is mapped by Doctrine ORM using class-table inheritance (`courseOfferingGroup`, with mapping IC=`CourseOfferingGroup\InClassGroup` and VR=`CourseOfferingGroup\VirtualGroup`).  When I try to use the API to create

[2016-07-15 15:08] mkudelya commented on #501
Hi @adamlundrigan,

[Here](https://www.orocrm.com/forums/topic/create-custom-entity-from-rest-api) i explained how to add record to **extend** entity. You can use this example to create own records.
The main idea is generate api key in user profile, go to for example [there](http://orocrmee.local/app_dev.php/api/doc/rest_json_api#get--api-accounts) and click on sandbox and click on Try button. Thi

[2016-07-15 17:40] ishakuta commented on #449
Issue with nonce cache were resolved, there's another one related.
So, the app has two firewalls:

- wsse_secured (old) with 'main' context that allows to handle API requests from OroCRM UI (such as workflow transitions)

- api_wsse_secured (new) with 'main' context, but, with `stateless: true`, which means that `context: main`, won't be used and this firewall won't authenticate API requests from

[2016-07-16 13:50] adamlundrigan commented on #501
Another case of me not RTFM.  I keep forgetting that the new API follows JSON.API so I should look to it's documentation first when I run into trouble.  I updated my code to send a JSON body like you did in your example (the JSON.API spec says to do):

[code]

it works (record is created) but I get a 500 response back:

[code]

The "employeeprofiles" entity has a relation to `Oro\Bundle\AddressBun

[2016-07-18 01:32] sadortun opened #503 "[Bug] Sync URL as a sub-folder"
Hi Oro Team,

We are using ProxyPass to redirect front end URL to the WS server. Currently the only way to specify a WS URL is to use  `host:port`, It's not possible to specify an URL directly and the `websocket_frontend_port` is not nullable.

For example, our WSS  server is listening at `wss://domain.com/ws2/`

![image](https://cloud.githubusercontent.com/assets/794449/16904161/d1e7b206-4c5e-11e

[2016-07-18 08:53] Grygir commented on #488
Hi @sbani.

Thank you for request. We will investigate the issue.

[2016-07-18 09:00] venimus commented on #440
Meanwhile you could also use `CONCAT(CHAR(37), 'word', CHAR(37))` as a workaround

[2016-07-21 19:12] tadcka commented on #447
@artml status?

[2016-07-22 10:51] sbani opened #505 "[BUG] ID is limited to integer (again) - Workflow*"
Hi,

same issue like in #362.
Please do not force the user to use integer ids.

Broken code: `"workflowItemId"="\d+"`
WorkflowBundle/Controller/Api/Rest/WorkflowController.php

[code]

Plus the entity_id in `WorkflowItem`:

[code]

[2016-07-23 22:24] Richard87 opened #506 "Oro Platform Update fails on master"
Updating to Master branch failed, need some guidence to what to do next (it goes incredibly slow and I would love to have PHP7 support)

But this happend:

	# sudo -u www-data php5 app/console oro:platform:update --env prod --force
	Process migrations...

	  [Doctrine\ORM\Mapping\MappingException]
	  The target-entity OroCRM\Bundle\TaskBundle\Entity\Task cannot be found in 'Oro\Bundle\CommentBundl

[2016-07-24 03:00] sadortun commented on #506
@Richard87 We had a lot of issues upgrading to master about a week ago,  The Task Bundle has been extracted, but its not yet available
The following versions seems to work better :
- https://github.com/orocrm/crm/tree/5f0b1eb94925b26e0498c804183246b85d09d4af and
- https://github.com/orocrm/platform/tree/e32eeb8c002a6312a854f4fee9bb31d7c30ffb67

Related :  https://github.com/orocrm/crm/issues/192 h

[2016-07-24 11:32] Richard87 commented on #506
Thank you! I'll give those a try :)

[2016-07-24 19:47] Richard87 commented on #506
Got this result:

	PHP Fatal error:  Uncaught Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: The service "orocrm_contact.event_listener.datagrid.my_contacts_activity" has a dependency on a non-existent service "oro_user.dashboard.owner_helper". in /home/crm/crm/vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/Compiler/CheckExceptionOnInvalidReferenceBehav

[2016-07-24 20:19] Richard87 commented on #506
I just reinstalled 1.9.6 and got this error, should I be worried?

	# sudo -u www-data php5 app/console oro:platform:update --env prod --force
	PHP Fatal error:  Uncaught exception 'ReflectionException' with message 'Property OroCRM\Bundle\TaskBundle\Entity\Task::$contact_cdc90e7a does not exist' in /home/crm/crm/vendor/doctrine/common/lib/Doctrine/Common/Persistence/Mapping/RuntimeReflectionServi

[2016-07-25 05:27] sadortun commented on #506
@Richard87 As i mentioned earlyer, i would recommend that you wait a bit to update, unless you are ready to dig deeper. If it's not too late, you can revert a backup.

Theses commands might help, look in the docs if you are not sure

[code]

[2016-07-25 08:38] #486 closed

[2016-07-25 08:44] archy-bold opened #507 "Migration Issue Upgrading From 1.8.2 to 1.9.6"
I'm attempting to upgrade my OroCRM instance from 1.8.2 to 1.9.6. Instead of doing so with composer, I'm replacing the file structure with one of the pre-packaged bundles from the site. The database is left untouched.

I run the `app/console oro:platform:update --env=prod --force` command and it starts to migrate the database, but I get the following errors:

[code]

[code]

Is there anything I ca

[2016-07-25 09:34] mkudelya commented on #506
@Richard87 We know about the task bundle issue and currently working on fix.
Thank you for your patience.

[2016-07-25 12:21] Richard87 commented on #506
Hi, unfortunatly I can't roll back to an earlier backup, is there a way to roll back the database changes?

Richard

[2016-07-25 12:28] mkudelya commented on #507
@archy-bold I have tested your case and migrations executed without any errors.
Do you have any error if you comment up function of this migration?

[2016-07-25 14:10] mkudelya commented on #506
@Richard87 Are you currently on 1.9.6 version? As temporary solution i suggest you copy [task bundle](https://github.com/orocrm/crm/tree/1.9/src/OroCRM/Bundle/TaskBundle) to appropriate directory if it doesn't exist and delete /app/cache/prod, /app/cache/dev directories and try again run oro crm in browser.

[2016-07-25 21:48] Richard87 commented on #506
Thank you for your help so far, I feel I have come along way...

I upgraded to master since I had a bad feeling about downgrading after migrating the database, and I came pretty far.

First of all I copied in `OroCRMTaskBundle`

    prod ca:cl --no-debug
    PHP Fatal error:  Class 'OroCRM\Bundle\TaskBundle\OroCRMTaskBundle' not found in /home/crm/crm/app/cache/prod/bundles.php on line 102

Then,

[2016-07-26 16:56] artml commented on #506
@Richard87 so you've managed to fix the issue?

[2016-07-26 17:02] artml commented on #464
Closing this issue because of no feedback. @Numkil feel free to reopen it at any time.

[2016-07-26 17:02] #464 closed

[2016-07-26 17:04] artml commented on #478
I see the value in this idea, but it won't be high on our priority list for the next release or two.

[2016-07-26 17:35] artml commented on #167
This has been fixed in 1.8 version.

[2016-07-26 17:35] #167 closed

[2016-07-26 17:37] artml commented on #308
We've fixed this in 1.9 version. Thanks for reporting!

[2016-07-26 17:37] #308 closed

[2016-07-26 17:40] artml commented on #497
Good feature request indeed, but no ETA at the moment.

[2016-07-26 17:43] artml commented on #499
@sadortun we have bigger plans for our segmentation feature—in the perfect world it should be seamlessly integrated with grids and other data views so you use segments for advanced data filtering instead of regular filters.

But since we're far from the perfect world, I think we might do a quick fix and simply enable inline editing in segments for now.

[2016-07-26 18:47] archy-bold commented on #507
I tried it on another environment and it worked fine. I'm not really sure what happened in the first case.

[2016-07-26 19:55] Richard87 commented on #506
Hi, Partially, there seems to be a bug with the workflow component (as the exception over), and I don't know what other issues might remain, but for now it seems usable and is running.

[2016-07-27 12:56] mrfroasty commented on #457
Got the same error here - testing oro-platform + PHP 7 + app_dev.php.If I swap to app.php then the error is no longer to be seen.

[2016-07-27 15:27] artml commented on #498
@sadortun we definitely won't object if you will contribute this feature :)

[2016-07-27 15:29] artml commented on #493
@sadortun not sure I understood this, or am capable of doing so. I am not a developer, sorry :) can you please explain?

[2016-07-27 15:35] artml commented on #500
@z38 we will upload the component soon.

[2016-07-27 15:44] sadortun commented on #498
Hehehe, great! It's  on roadmap, still no ETA ....

[2016-07-27 15:47] artml commented on #500
@rgrebenchuk we might also need your help with the second question

[2016-07-27 15:48] mbessolov commented on #493
@sadortun The pre-release identifier part (beta.X) in the 1.10.0-beta.X tags correlates with the _OroCommerce _ release cycle just for the referencing purpose. OroPlatform doesn't have pre-release versions for minor releases in 1.x (rare exceptions possible).

OroPlatform 1.10 will be pushed when the OroPlatform team is ready to release it.

[2016-07-27 15:48] #493 closed

[2016-07-27 15:48] sadortun commented on #493
Perfect! Thanks!

[2016-07-27 15:50] artml commented on #457
@mrfroasty on the latest master branch?

[2016-07-27 15:52] artml commented on #484
The PR with the fix was merged so I'm closing this.

[2016-07-27 15:52] #484 closed

[2016-07-27 15:53] #490 closed

[2016-07-27 16:23] mkudelya commented on #505
@sbani I'm wondering, why do you not want to just delete this constraint in your customization? I think is not hard. Our platform is working with integer primary keys and i don't know how these changes will affect performance.

[2016-07-27 16:25] artml commented on #494
@ste93cry we have plans to decouple the application and publish our packages separately. Our TaskBundle and CallsBundle are the first examples and the work will definitely continue on the way to 2.0.

[2016-07-28 06:47] sbani commented on #505
@mkudelya: **If the user has to use integer ids for each entity, then please say so in the docs**. If everybody always has to add a second column called "token" because of your forced integer ids, people have to know.

You are right, that it's not that hard to add a second column. But the token column is not needed in many cases because doctrine can handle uuid as identifier and symfony has no pro

[2016-07-28 09:49] mrfroasty commented on #457
@artml
yes latest master branch as i believed thats where the PHP 7, otherwise its true I could have used stable 1.9.

[2016-07-28 09:55] mrfroasty commented on #457
[code]

P:S
oro/platform-serialised-fields modification - I have done to composer.json to get around conflict in composer:

[code]

[2016-07-28 11:16] mrfroasty commented on #457
@artml
Please ignore me - I am having difficult to reproduce it anymore

[2016-07-31 05:12] sadortun opened #508 "QueryDesigner "Filters" should be usable without the "Columns" definitions"
Hello Artem,

The QueryDesigner Filter is a great feature, and it would be nice to be able to use it alone without the "Column" manager.

If you are interested, we might be able to submit a PR.
Have a good day,
Samuel

[2016-08-01 09:23] artml commented on #508
@sadortun Hi Samuel,

Thing is, we have already done it ourselves to some extent. We've added the query designer to dashboard widgets and afaik from discussions with our dev team, that required some singling out of the component.

That feature was merged only about a week ago so please check it on the latest master. I also think @zebimax and @hurricane-voronin might provide some additional info.

[2016-08-05 13:55] artml commented on #447
@tadcka not sure if we might fix it before the release, will likely come with one of 1.10.x stability releases.

Can you please check if this conflict appears for Symfony 2.8? We've recently added its support, maybe the issue has been fixed along the way?

[2016-08-05 13:56] artml commented on #507
Okay, closing it for now then. @archy-bold feel free to reopen if you manage to reproduce the issue.

[2016-08-05 13:56] #507 closed

[2016-08-05 13:57] #506 closed

[2016-08-05 13:59] artml commented on #453
@ste93cry we are going to look into disbundling the application after the 1.10 release (it's a part of 2.0 scope) but I can't give you the definite "yes" for now.

[2016-08-05 14:01] artml commented on #451
@sagikazarmark not sure if we might find the exact commit. But you don't experience the issue anymore, right?

[2016-08-05 14:02] artml commented on #458
question appears to be solved so closing this for now

[2016-08-05 14:02] #458 closed

[2016-08-05 14:03] artml commented on #457
@mrfroasty no worries—feel free to reopen this if you manage to reproduce the issue and have clear STR.

Thank you!

[2016-08-05 14:03] #457 closed

[2016-08-05 14:07] #140 closed

[2016-08-05 14:09] artml commented on #138
@nenadalm can you please check if it's still relevant? thanks.

[2016-08-05 14:11] artml commented on #402
Fixed in 1.9 release

[2016-08-05 14:11] #402 closed

[2016-08-05 14:12] #384 closed

[2016-08-05 14:14] artml commented on #346
@stalxed if the file is removed from the database, it should be also removed from disk. Can you please re-check the issue? Thank you.

[2016-08-05 14:19] artml commented on #287
@sagikazarmark have you managed to reproduce this issue?

[2016-08-05 14:19] #111 closed

[2016-08-05 14:21] artml commented on #133
Was fixed long ago.

[2016-08-05 14:21] #133 closed

[2016-08-05 14:21] #216 closed

[2016-08-05 14:22] artml commented on #349
PR merged long time ago, closing this.

[2016-08-05 14:22] #349 closed

[2016-08-05 14:23] artml commented on #342
@stepansib does it reproduce at 1.9 or 1.10 master?

[2016-08-05 14:25] artml commented on #202
The issue has been fixed in 1.5 release.

[2016-08-05 14:25] #202 closed

[2016-08-05 14:27] artml commented on #363
Fixed within 1.9 release. Thanks for raising the issue @golriz @ahmadgolzar

[2016-08-05 14:27] #363 closed

[2016-08-05 14:28] #332 closed

[2016-08-05 14:29] artml commented on #314
That should have been fixed within 1.9 release; @ramunasd @stalxed can you please check if it's still relevant? Thank you.

[2016-08-05 14:31] #115 closed

[2016-08-05 14:42] artml commented on #134
We've changed these styles long ago, @Zyles – a very belated thank you for pointing it out.

[2016-08-05 14:42] #134 closed

[2016-08-05 14:45] artml commented on #300
@mrbrazzi is this issue still relevant?

[2016-08-05 14:48] artml commented on #298
@Hillum123 we do not recommend to use OroCRM's own campaigning engine for sending out campaigns bigger than a couple of hundred emails. Please use MailChimp or dotmailer integration for large mailings. Thank you.

[2016-08-05 14:48] #298 closed

[2016-08-05 14:50] mrbrazzi commented on #300
I was post this issue a year ago, I did not test any more

[2016-08-05 14:50] #300 closed

[2016-08-05 14:50] artml commented on #294
No more comments from any of the reporters so I am closing this for now. Feel free to reopen if the issue persists. Thank you.

[2016-08-05 14:50] #294 closed

[2016-08-05 14:56] artml commented on #279
@turboezh can you please check if it's still relevant? Thank you.

[2016-08-05 14:56] artml commented on #281
@ramunasd did that solve the issue?

[2016-08-05 15:04] artml commented on #430
@StephenOTT we've fixed this in 1.9.1 version. Thanks for reporting the bug!

[2016-08-05 15:04] #430 closed

[2016-08-05 15:06] artml commented on #437
@rtokarchyk have your daemon been running? (if the issue still stands of course)

[2016-08-05 15:06] #248 closed

[2016-08-05 15:07] #252 closed

[2016-08-05 15:11] artml commented on #254
This is an issue about version that is no longer supported so I'm closing it.

[2016-08-05 15:11] #254 closed

[2016-08-05 15:14] #260 closed

[2016-08-05 15:17] artml commented on #429
Fixed in 1.10 master

[2016-08-05 15:18] artml commented on #425
No response from @ishakuta yet so I'm closing it for now.

[2016-08-05 15:18] #425 closed

[2016-08-05 15:19] #414 closed

[2016-08-05 15:21] artml commented on #330
@ianfp do you experience similar issues with 1.9 version?

[2016-08-05 15:30] #205 closed

[2016-08-05 15:34] artml commented on #174
@MikeParkin do you still experience the issue?

[2016-08-05 15:35] #175 closed

[2016-08-05 15:35] artml commented on #176
Since we migrate to JSON API I believe the issue is no longer relevant.

[2016-08-05 15:35] #176 closed

[2016-08-05 15:36] turboezh commented on #279
Hi.
Yes, I've just reproduced the problem on demo-b2b.orocrm.com.
But in reversed way:
* switch language to Russian in `Language settings`;
* create custom field `foo_test2` in Account entity and label it `Тест2`. Label in account view is as it was created - `Тест2`;
* switch language back to English. Label is `Orocrm.Account.Foo_test2.Label` now.

And by the way. I saw `oro.tag.entity_plural_labe

[2016-08-05 15:39] #142 closed

[2016-08-05 15:40] #144 closed

[2016-08-05 15:41] artml commented on #146
We have more bulk actions available so I'm closing this for now.

[2016-08-05 15:41] #146 closed

[2016-08-05 15:43] artml commented on #152
@dtzubertowski by any chance, do you still experiencing the issue? Apologies for the _very_ late response.

[2016-08-05 15:44] artml commented on #159
The fix is merged within 1.10 release

[2016-08-05 15:44] #159 closed

[2016-08-05 15:45] sergeyz commented on #152
Its not a bug, @dtzubertowski added foreign key to database but didn't provide any custom property for it. See https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/EntityExtendBundle/README.md#add-relation for more details

[2016-08-05 15:47] mbessolov commented on #279
It is not a bug. We do not have a UI that would allow simultaneous translation into multiple languages, independent from the currently selected language. We intend to add the translation management UI to OroPlatform in one of the next releases.

If you are willing to propose a quick fix that you believe will work for most users we may consider and accept it as an interim solution as well.

[2016-08-05 15:48] artml commented on #152
Ah, okay. Thanks @sergeyz

[2016-08-05 15:48] #152 closed

[2016-08-05 15:56] artml commented on #191
Released within 1.7

[2016-08-05 15:56] #191 closed

[2016-08-05 15:57] artml commented on #188
Fixed this long ago.

[2016-08-05 15:57] #188 closed

[2016-08-05 15:58] artml commented on #218
@sadortun we haven't developed this so your PR will be appreciated. Thank you!

[2016-08-05 16:02] turboezh commented on #287
Hi. Maybe PR #278 would help somehow. But it was a long ago and I'm not sure about how it relates to this.

[2016-08-06 10:54] sagikazarmark commented on #287
I continuously have this issue in the described environment without the fix I applied. I will try to update the platform to a newer version to see if the issue is still there.

[2016-08-06 10:56] sagikazarmark commented on #451
On 1.9.2 I still have the issue. I asked for reference to see whether this will be solved in the 1.9.x versions or not.

[2016-08-06 14:49] sergeyz commented on #451
Hi, @sagikazarmark, I thinks its 0882c20ceb4937ced1e67f97e21d8bdaebda906b
Make sure you don't override `api_wsse_secured` firewall in `app/config/security.yml`

[2016-08-08 10:26] #186 closed

[2016-08-08 10:26] #192 closed

[2016-08-08 10:27] artml commented on #215
@kayue have you managed to get rid of this dependency?

[2016-08-08 10:28] artml commented on #220
@mario-seidel does it occur on the newer versions of the platform, 1.9.x or 1.10 master?

[2016-08-08 10:29] #221 closed

[2016-08-08 10:32] artml commented on #245
@LRotherfield have you managed to solve this issue? Sorry for the very late feedback.

[2016-08-08 10:32] #268 closed

[2016-08-08 10:36] artml commented on #313
Fixed this back in 1.8 days.

[2016-08-08 10:36] #313 closed

[2016-08-08 10:37] artml commented on #311
@ishakuta can you please check if this reproduces on the current master? We've updated Notes recently.

[2016-08-08 10:38] #303 closed

[2016-08-08 10:40] artml commented on #240
Fixed in 1.7

[2016-08-08 10:40] #240 closed

[2016-08-08 10:46] LRotherfield commented on #245
Hi @artml I have not checked in the most recent versions to see if this has been solved.  I am not sure when I will get around to checking but I can try and get some feedback to you by the end of the week.  I currently still use my above mentioned solution.

[2016-08-08 11:24] ishakuta commented on #311
seems like fixed

[2016-08-08 11:24] #311 closed

[2016-08-09 09:43] mkudelya commented on #170
Hi, @stalxed,

Try to wrap our iso2Code inside id. For example:

        properties:
           id: [ iso2Code ]
            delete_link:
                type: url
                route: api_rest_acme_country_delete
                params: [ iso2Code ]

[2016-08-09 10:36] ramunasd commented on #314
Hi @artml, from what i see this issue remains. It's bad practice to do purging before every write to cache. This leads to bad performance and missing file issues.

[2016-08-09 10:38] ramunasd commented on #281
I'm closing this because so much time passed since i found issue. Thanks anyway ;)

[2016-08-09 10:38] #281 closed

[2016-08-12 20:13] ianfp commented on #330
No, I can't reproduce the issue on 1.9.6.

[2016-08-19 09:11] sagikazarmark opened #513 "Composer semver problem"
When installing ORO Platform with the following config, composer tries to install `1.10.0-beta.3` instead of `1.10.0`:

[code]

May it be because composer cannot recognize `1.10.0-beta.3` as a beta release? It might be a composer issue then, but in the meantime, it might make sense to adhere composer accepted formats if this is the cause.

[2016-08-19 09:19] sagikazarmark opened #514 "1.10.0 is non-installable"
The following dependency does not exist anymore:

a2lix/translation-form-bundle: dev-1.x-symfony2.8

Can be solved with aliasing though....

[2016-08-19 09:24] mkudelya commented on #346
@artml I confirm the problem still exist. latest master.

[2016-08-19 09:32] artml commented on #514
@sagikazarmark can you please tell us about how do you solve this with aliasing? Thank you.

[2016-08-19 09:33] sagikazarmark commented on #514
[code]

[2016-08-19 09:51] mkudelya commented on #514
Hi @sagikazarmark,

I have switched to 1.10 branch and execute "composer install" and successfully install packages. Can you show me command which you executed with composer error?

  - Installing a2lix/translation-form-bundle (dev-1.x-symfony2.8 1c8e920)
    Cloning 1c8e92093213725f04040272d933a93efef50b55

  - Installing oro/platform (1.10.0)
    Downloading: 100%

  - Installing oro/crm-task-bu

[2016-08-19 09:58] sagikazarmark commented on #514
It worked for you because the commit has not been removed and the composer lock is commited in the standard repo. However it's not an option when you want to update an already existing application. Since the ref does not exist anymore, 1.10.0 cannot be installed without aliasing at the moment.

[2016-08-19 10:58] mkudelya commented on #514
@sagikazarmark, can you show me your composer.json ?

[2016-08-19 11:03] sagikazarmark commented on #514
I don't understand what extra information do you expect from it:

[code]

The problem is this: https://github.com/orocrm/platform-application/blob/1.10.0/composer.lock#L17

The package is locked to a specific commit in the platform-application repo. But the git reference (dev-1.x-symfony2.8) does not anymore, meaning you can't just update to 1.10.0 in an existing application.

[2016-08-19 12:45] artml commented on #513
@sagikazarmark thanks for pointing this out, we'll apply the fix ASAP

[2016-08-19 13:06] mkudelya commented on #514
@sagikazarmark,

Probably you forgot this in [composer.json](https://github.com/orocrm/platform-application/blob/1.10.0/composer.json#L12-L15). This repository [contains](https://github.com/orocrm/TranslationFormBundle/tree/1.x-symfony2.8) '1.x-symfony2.8' branch.

[2016-08-19 13:08] sagikazarmark commented on #514
Ah, indeed I forgot it, thanks.

[2016-08-19 13:19] sagikazarmark commented on #287
After updating to 1.10.0 I still experience this issue. I have modified the above commands to be run in a dockerized environment, so it is COMPLETELY isolated. You need docker and docker compose:

[code]

Result:

[code]

Cleanup:
[code]

Although the application is initially installed in dev mode, I tried the above commands in prod mode as well, I received the same result. In this case the comman

[2016-08-19 14:21] sagikazarmark commented on #514
Yup, solved it. Thanks.

[2016-08-19 14:21] #514 closed

[2016-08-19 14:24] sagikazarmark commented on #451
This might be related too: https://github.com/orocrm/crm/issues/191

[2016-08-19 15:31] sagikazarmark commented on #434
Unfortunately after upgrading to 1.10 the issue still persists. Please see my latest comment in #287, I described an isolated environment there where I was able to reproduce this issue as well.

[2016-08-19 15:51] sagikazarmark commented on #451
I can confirm that this issue is solved.

[2016-08-19 16:29] mkudelya commented on #514
@sagikazarmark you are welcome)

[2016-08-22 12:38] Djamy opened #515 "Translatable values in select2.js"
Hello everyone !

I think the sentences [here](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/UIBundle/Resources/public/lib/jquery/select2.js#L3086-L3091) should be translatable.

There are potentially more things to translate in this file and maybe more in others javascript files.

That's all.

Thanks :)

[2016-08-22 13:34] mkudelya commented on #513
@sagikazarmark On friday i installed orocrm with "^1.10" and indeed it was with '1.10.0-beta.3' version, but today i tried again: cleared composer cache and run "oro/platform": "^1.10" and "oro/platform": "~1.10", both variants gave the same result, "Installing oro/platform (1.10.0)"

[2016-08-22 14:11] sagikazarmark commented on #513
Hm, strange. Nevertheless, I just checked your earlier tags: you used to use alphaX, the latest beta versions followed beta.X. I don't know what caused this issue.

[2016-08-22 14:39] mkudelya commented on #513
Do you still have the issue with version ?

[2016-08-22 14:45] sagikazarmark commented on #513
Just checked: no, I don't have this issue anymore.

[2016-08-22 16:46] artml commented on #513
Okay, closing this for now. @sagikazarmark thank you very much for the report! feel free to reopen the issue if you encounter it again.

[2016-08-22 16:46] #513 closed

[2016-08-22 16:48] artml commented on #515
@Djamy thank you for your proposal.

[2016-08-22 16:48] #480 closed

[2016-08-22 16:49] #476 closed

[2016-08-22 16:57] artml commented on #468
Fixed in 1.10 release

[2016-08-22 16:57] #468 closed

[2016-08-22 16:57] artml commented on #472
Fixed within 1.10 release

[2016-08-22 16:57] #472 closed

[2016-08-22 17:02] #419 closed

[2016-08-22 17:02] #441 closed

[2016-08-22 17:02] #449 closed

[2016-08-22 17:03] #170 closed

[2016-08-22 17:04] #429 closed

[2016-08-22 17:05] #451 closed

[2016-08-22 17:06] #331 closed

[2016-08-22 17:06] #334 closed

[2016-08-22 17:07] #440 closed

[2016-08-22 17:07] #463 closed

[2016-08-23 01:50] StephenOTT opened #516 "Add widget type unique ID to html for better testing"
Currently there does not appear to be anything that tells us the specific Widget that was sent to the dashboard.  Would be great if there was a class/div/...etc that was applied that allows us to be able to check/target for a specific type of widget.

[2016-08-23 03:37] StephenOTT opened #517 "New line/return characters should not be used on "N/A" placeholder text"
Finding that "N/A" text is that located in many fields (such as user profiles) has inconsistent and incorrect usage one New Line characters/return characters.

Example:

http://demo-b2c.orocrm.com/app.php/user/profile/view

See example of birthday Field:
![screen shot 2016-08-22 at 11 32 32 pm](https://cloud.githubusercontent.com/assets/1994838/17879544/d499d1f4-68c0-11e6-8dd4-735bb173960b.png)

A

[2016-08-23 08:19] Grygir commented on #517
Hi @StephenOTT. Why it is a problem? Does it have visual artifacts?

[2016-08-23 08:30] Grygir commented on #516
Hi @StephenOTT. Could you provide an example of widgets identification and test case that uses that identification?

For now, in widget configuration we have `widgetName` attribute, with values `'recent_emails'`, `'my_calendar'` etc. Would it be enough for you case to have this value in some data attribute on widget element, e.g. `data-dashboard-widget-type="recent_emails"`?

[2016-08-23 10:53] StephenOTT commented on #516
The type as you listed I think would be good.

 The use cases is for testing. Say you are testing that specific widgets are loading in your config. You could target based on titles until you have two widgets with the same title and are different widget types.  So being able to identify a widget type would be helpful

[2016-08-23 10:55] StephenOTT commented on #517
The problem has been coming up during testing. When you asset for specific text in those fields you have to strip out white space / new lines / use another assertion type to handle the scenario.  It appears to always render correctly.  But seems to be problematic for testing.

[2016-08-23 17:56] sergeyz commented on #513
The reason is https://github.com/orocrm/platform/blob/1.10/composer.json#L13-L16 and https://github.com/orocrm/platform/blob/1.10/composer.json#L59
Make sure your application is on `1.10` branch too https://github.com/orocrm/platform-application/blob/1.10/composer.json#L14

If repository is missing, version `1.10.0` could not be installed, so `1.10.0-beta.3` is next candidate that fit to requireme

[2016-08-24 06:50] sbani commented on #513
What is the main purpose of `orocrm/TranslationFormBundle`? What are the differences to the original a2lix repo?

[2016-08-24 12:39] mkudelya commented on #315
Hi,

Probably the database engine doesn't allow to store four byte symbols, you must switch your database to utf8mb4 charset.

[See](http://stackoverflow.com/questions/8709892/mysql-throws-incorrect-string-value-error/8767381#8767381) this comment for detailed information.

[2016-08-25 02:12] #397 closed

[2016-08-25 09:45] alexandr-parkhomenko commented on #513
`orocrm/TranslationFormBundle` brings support `Symfony 2.8` to `a2lix/TranslationFormBundle@1.x`. For now is no differences between original repo and fork, because PR from this fork has already merged to original a2lix repo.

[2016-08-25 10:08] sbani commented on #513
ah ok thanks

[2016-08-26 00:10] adamlundrigan commented on #501
No longer have this problem after updating to 1.10.0

[2016-08-26 00:10] #501 closed

[2016-08-29 18:15] sagikazarmark opened #518 "Do not require PHP timezone setting on PHP 7"
It is not required for PHP 7 anymore. Is it required for Oro Platform itself?

[2016-08-30 13:30] svedaei opened #519 "Translating Change History Veiw (AuditField)"
Hi everyone,
I want to translate the field names in Logging Modifications that is shown to the user. For example in an entity there is a field named as owner. If it changes in a record, the log will show old owner and new owner with label ‘owner’ (exactly the field name).
I changed “collKey” to “collKey|trans” in “new.html.twig” and “old.html.twig” in Oro/Bundle/DataAuditBundle/Resources/view/Data

[2016-08-30 13:50] sergeyz commented on #519
Hi, @svedaei !

Its `oro_entity_config_value(entityClass, 'label')|trans` function in twig

[2016-08-30 21:26] bluedot74 opened #520 "An exception in createSynchronizationProcessor causes imap-sync to skip all other email origins"
In the doSyncOrigin method in AbstractEmailSynchronizer the createSynchronizationProcessor method is called. If an exception occurs inside this method the EmailOrigin's sync code is not set to "SYNC_CODE_FAILURE".
Since the sync code is not set to failure the findOriginToSync grabs the same EmailOrigin it just attempted.
This causes the origin to fail the check:

[code]

Which breaks the loop, and

[2016-08-30 21:43] bluedot74 commented on #520
I submitted a PR to try to fix this: https://github.com/orocrm/platform/pull/521

[2016-08-31 20:01] #330 closed

[2016-08-31 20:16] mbessolov commented on #518
There are date_default_timezone_get calls in the code to retrieve the current timezone set on the server.
How the default timezone should be configured for PHP - via php.ini (kinda required in PHP <7, as if it is not set in php.ini there will be a warning) or somehow else (e.g. "TZ" environment variable) - it is up to the developer/web-server administrator.

[2016-08-31 21:41] sagikazarmark commented on #518
@mbessolov In PHP 5.x the following happens:

- A warning is triggered
- Timezone value falls back to "UTC"

AFAIK in php 7.x the warning has been removed, so it should work smoothly.

So I would say having timezone configured should not be a requirement on PHP 7.x since you will receive a proper value without a warning. Oro should not require to have the INI config to be set.

[2016-08-31 22:09] mbessolov commented on #518
It's not an OroPlatform requirement.
We use SensioDistributionBundle, which adds this requirement - https://github.com/sensiolabs/SensioDistributionBundle/blob/4.0/Resources/skeleton/app/SymfonyRequirements.php#L428

They fixed it in master already - https://github.com/sensiolabs/SensioDistributionBundle/blob/master/Resources/skeleton/app/SymfonyRequirements.php#L428 , it just has not been release

[2016-08-31 22:11] sagikazarmark commented on #518
Ah, okay, totally missed that because I never used SymfonyRequirements. :trollface:
Sorry for trouble then.

[2016-09-02 09:07] mkudelya commented on #515
@Djamy Translation has been added and will be available on the next release. Thanks!

[2016-09-02 09:10] ishakuta commented on #417
@vsoroka as we recently found, impersonation won't help either, cause in ChainEntityOwnershipDecisionMaker and ChainMetadataProvider there are 'cached', in property, providers, although in ChainMetadataProvider it's possible to 'emulate' another provider, but in ChainEntityOwnershipDecisionMaker there's no way to check AnotherUser after regular User or vice versa.
At least it should be possible to

[2016-09-02 11:59] Djamy commented on #515
@mkudelya Great! Thank you.

[2016-09-02 13:42] #518 closed

[2016-09-02 13:43] artml commented on #520
@bluedot74 thank you for your contribution! We will review this PR shortly

[2016-09-02 14:26] mbessolov commented on #417
@ishakuta as I've mentioned above - it could be a nice improvement, you are welcome to submit a PR with the your proposed solution.

It is not an issue though, because there is no use for such an abstracted permission checking in the existing applications (this includes both Oro and 3-rd party applications). Once we accept your contribution, we will be supporting such a use case in OroPlatform, an

[2016-09-02 22:13] dgspurgin opened #522 "Optional-validation-handler.js: ignore not-visible inputs / selects when looking for not-empty fields"
hasNotEmptySelect & hasNotEmptyInput seem intended to check for user input in visible fields.  Can not-visible fields be ignored when doing these checks for user input?  (I have a use case where we are presetting data in country select box in order to get our region select box to behave as desired BUT this optional-validation-handler script then detects address form as not empty and then turns on

[2016-09-02 22:17] dgspurgin opened #523 "Relative referenced dependency prevents override"
In your validate.js file in the Form bundle
Oro\Bundle\FormBundle\Resources\public\js\extend\validate.js

Could you refer to dependency by its handle/alias instead of relative reference.  Unable to override with this relative reference (see below):

[code]

[2016-09-05 10:54] sagikazarmark opened #524 "Upgrading to Symfony 2.8.10 breaks functional tests"
Stack trace:

[code]

[2016-09-05 11:01] sagikazarmark commented on #524
Reference: https://github.com/symfony/symfony/issues/19857

[2016-09-05 12:00] alexislefebvre commented on #524
See #19857.

[2016-09-05 14:12] jorge-marques commented on #414
I'm experiencing a similar issue:

` The alias "Oro\Bundle\OrganizationBundle\Model\ExtendBusinessUnit" for the class "Extend\Entity\EX_OroOrganizationBundle_BusinessUnit" cannot be registered because the class "Oro\Bundle\OrganizationBundle\Model\ExtendBusinessUnit" is already loaded. This may happen if this class or a derived class is used in EntityConfigDumperExtension or EntityGeneratorExtensi

[2016-09-06 13:25] Richard87 opened #525 "Loading workflow definititions fail when upgrading to 1.10.1"
Hi,

When running `php app/console oro:platform:update`, `Loading workflow definitions...` fails:

[code]

Any help would be greatly appreciated!

Richard

[2016-09-06 14:05] Richard87 commented on #525
Probably leftover bugs from when I failed to upgrade earlier :/ [https://github.com/orocrm/platform/issues/506](#506)

I followed the steps:

	php app/console --env=prod cache:clear  --no-debug
	php app/console --env=prod oro:migration:load --force
	php app/console --env=prod doctrine:schema:update --force
	php app/console --env=prod oro:entity-extend:update-config
	php app/console --env=prod oro:

[2016-09-06 16:17] mkudelya commented on #524
Hi @sagikazarmark,

Try to use symfony 2.8.9 instead 2.8.10

[2016-09-06 16:28] sagikazarmark commented on #524
I did and it actually works. I realized later that the problem is in Symfony, but it causes some issues here, so I though it might make sense to leave this opened until the referenced PR is merged and tagged. Even then, it might make sense to either make this version conflicting or mention somewhere in the docs that this version does not work.

[2016-09-06 16:29] sagikazarmark commented on #524
Just checked and the relevant PR has been merged.

[2016-09-07 09:42] mkudelya commented on #525
Hi @Richard87

To disable workflow definitions you should deactivate all workflows (System -> Workflows) and comment all imports [here](https://github.com/orocrm/crm/blob/master/src/OroCRM/Bundle/SalesBundle/Resources/config/workflow.yml), [here](https://github.com/orocrm/OroCRMTaskBundle/blob/master/Resources/config/workflow.yml) and [here](https://github.com/orocrm/crm/blob/master/src/OroCRM/Bun

[2016-09-07 15:09] ste93cry commented on #215
The PR #496 should help on this

[2016-09-08 18:04] ignat-s commented on #522
@dgspurgin, ignoring hidden fields will not work in all cases. For example, fields powered with "select2" has hidden field to store selected value the field is not hidden on UI of form. Will it cover your use case if it will be possible to pass a custom module to replace "oroform/js/optional-validation-handler" in the collection form of addresses? Other solution I think of is to provide a possibil

[2016-09-10 06:33] mathielen opened #526 "Google-Maps Integration - ApiKey"
Google Maps needs an ApiKey now: http://stackoverflow.com/a/37991723

Please make the apiKey property in https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/AddressBundle/Resources/public/js/mapservice/googlemaps.js configurable.

Thanks

[2016-09-10 13:59] Richard87 commented on #525
Hi @mkudelya , How can I deactivate all workflows when the system is not running?

[2016-09-10 14:36] Richard87 commented on #525
I deleted the content of `oro_workflow_definition` and it seems the foreign keys took care of deleting the correct relations? (hopefully!)

After commenting out the workflows as pointed above, I reran `oro:platform:update` and got a new error:

	root@do-2:/home/crm/crm# alias prod="php app/console --env=prod"
	root@do-2:/home/crm/crm# prod oro:platform:update  --force
	Process migrations...

	Load

[2016-09-12 12:37] sbani commented on #517
Hi @StephenOTT:
If this is only problematic in testing, you should probably try to strip out white spaces in the tests.
Have you tried to use `$assert->contains()`? There shouldn't be any problems with white spaces.

[2016-09-12 13:33] LRotherfield opened #527 "Mime type validator array_merge error"
It seems that the code in `Oro\Bundle\AttachmentBundle\Validator\ConfigFileValidator` calls a function (https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/AttachmentBundle/Validator/ConfigFileValidator.php#L93) that can return a string as arguments for array_merge (https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/AttachmentBundle/Validator/ConfigFileValidator.php#L53) which

[2016-09-12 18:21] dgspurgin commented on #522
@ignat-s If I could override optional-validation-handler and use a custom one that would work great.  Having issues overriding (as stated in https://github.com/orocrm/platform/issues/523) because of how validate.js loads the optional validator with a relative ref.  I attempted to override validate.js as well and make it a custom piece but not working.

@AlexandrDmitriev said he had a solution?

[2016-09-13 19:25] ignat-s commented on #522
@dandries , the problem with an override of "optional-validation-handler" was already fixed and should be available for you. But we are still working on adding a more precise way for extending this logic instead of global override of "optional-validation-handler".

[2016-09-13 19:28] ignat-s commented on #523
The issue was fixed in this commit: https://github.com/orocrm/platform/commit/babbb5ceb6dc08f957b8c6f632aca6cfcb5d91b1#diff-af3b5c5a92a67974208f648cda10c5ae

@dgspurgin, the commit was ported to your version of "oro/platform" as well.

[2016-09-13 19:28] #523 closed

[2016-09-14 01:22] adamlundrigan opened #529 "text-util.js toUpperCase() error"
I have a grid column that displays multiple values concatenated together (using Twig), so I've titled the column "# Regs (R / WL / P)".  In 1.10.2 and 1.10.3 (and maybe 1.10.1...didn't roll back to try) I now get a javascript error when the datagrid is displayed:

[code]

The source of the problem is here:
https://github.com/orocrm/platform/blob/4c2271ce5c7bb37745bcc5dfd6083731a9741b67/src/Oro/Bun

[2016-09-16 13:02] mikeSimonson commented on #525
@mkudelya I also have this issue with the workflow component (running on php 5.6)

[2016-09-16 13:58] adamlundrigan opened #530 "Bundled moment.js is out of date"
The LocaleBundle bundles a version of moment.js which is out of date:

https://github.com/orocrm/platform/blob/c9c0fd8219719d6883c1981e9f3b2c7a02e151d1/src/Oro/Bundle/LocaleBundle/Resources/public/lib/moment/moment.js

Is there a specific reason for pinning to this version?  The platform pulls moment.js 2.15.0 through Composer but LocaleBundle doesn't make use of that copy.

[2016-09-16 14:21] mikeSimonson commented on #525
@mkudelya But in my case thoses steps fixed it.

[code]

[2016-09-16 15:39] StephenOTT commented on #424
been looking at: http://docs.sylius.org/en/latest/bundles/SyliusTaxonomyBundle/index.html

[2016-09-16 17:38] sadortun commented on #424
We have a good working prototype. with 1.9.x. I'll try to make it available soon

[2016-09-18 16:31] adamlundrigan commented on #314
I am seeing this in my prod env running 1.10.2.  Two small clusters appeared in the logs and both coincide with periods of heavy API traffic (batch process running against API)

[2016-09-19 12:43] Grygir commented on #530
Hi,

We've used own copy of moment version 2.8.3, that contains hot fix for issue https://github.com/moment/moment/issues/2186
But it looks like in newer version the issue is already fixed https://github.com/moment/moment/pull/3078

We need to check if we are ready to use last version moment.

Thank you for your question.

[2016-09-19 16:57] #524 closed

[2016-09-19 16:58] artml commented on #526
hi @mathielen

thanks for heads up, we'll add this to our release scope

[2016-09-19 17:14] artml commented on #314
Thank you for the feedback. We are going to give this topic a priority in the coming months.

[2016-09-19 17:15] artml commented on #424
Thank you @sadortun !

[2016-09-19 17:18] #215 closed

[2016-09-20 09:46] ste93cry opened #531 "Unable to install platform on Symfony 2.8 Standard Edition"
While trying to install the platform version `~1.10` in a project based on `Symfony 2.8 Standard Edition` an error occurs. The only version tagged on packagist for SensioDistributionBundle is `5.0`, which is required in the `composer.json` of Symfony.

[2016-09-20 09:50] kamilwojciuk opened #532 "Required parameter in the constructor"
Hi, i found a bug in the actions: HOST/email/emailtemplate/create

Catchable Fatal Error: Argument 1 passed to Oro\Bundle\EmailBundle\Form\DataTransformer\EmailTemplateTransformer::__construct() must be an instance of Oro\Bundle\FormBundle\Form\DataTransformer\SanitizeHTMLTransformer, none given, called in /var/www/html/zid/vendor/oro/platform/src/Oro/Bundle/EmailBundle/Form/Type/EmailTemplateRich

[2016-09-20 10:15] mbessolov commented on #531
@ste93cry what is the minimum-stability defined in your application's composer.json?

[2016-09-20 10:23] ste93cry commented on #531
There is no minimum-stability specified. You can find the `composer.json` file [here](https://github.com/symfony/symfony-standard/blob/2.8/composer.json)

[2016-09-20 13:10] sergeyz commented on #532
Hi, @kamilwojciuk, thank you for report!

@artml looks like same as https://github.com/orocrm/crm/issues/218

[2016-09-20 13:18] sergeyz commented on #314
Common storage if file storage now. I'm not sure it will be good option to require sqlite or redis from platform package.

You can set nonce_cache_service_id parameter https://github.com/djoos/EscapeWSSEAuthenticationBundle#specify-a-custom-nonce-cache-default-doctrinecommoncachephpfilecache-in-kernelcache_dirsecuritynonces and configure service to use sqlite or redis in your application's config.

[2016-09-20 13:19] sergeyz commented on #530
@Grygir https://github.com/moment/moment/blob/develop/composer.json#L2 we can add it using component now

[2016-09-22 08:33] Grygir commented on #529
Thanks for bug report. We will fix it soon.

[2016-09-22 08:57] Grygir commented on #530
@sergeyz sure, we just need to check if new version does not break any other functionality that we have

[2016-09-22 09:19] sagikazarmark commented on #436
Hi there,

The new release just introduced a third hardcode way to run commands:
https://github.com/orocrm/platform/blame/master/src/Oro/Bundle/EntityExtendBundle/OroEntityExtendBundle.php#L107

[2016-09-23 08:50] ste93cry commented on #385
repository is again behind the main one. Things changed a lot, new dependencies has been introduced but the component is so useful that I think it's worth to maintain the standalone repository updated. Could you check if something can be done about this?

[2016-09-23 14:46] sergeyz commented on #385
Hi, changes should not affect standalone distribution afaik, automated sync almost configured.

[2016-09-23 15:03] ste93cry commented on #385
As far as I see there are now dependencies on some packages that are not published standalone from the whole platform (e.g. the Oro PropertyAccess component), so the compo

[2016-09-23 15:43] sergeyz commented on #385
Ah, sorry, I checked RequireJSBundle

[2016-09-23 15:45] ste93cry commented on #385
By the way RequireJSBundle has the same problem, it depends on PhpUtils component which is not public too

[2016-09-26 10:21] mkudelya commented on #414
Hi @jorge-marques

What version of oro platform are you using? When this error appears? Can you explain more detail, which error you had first and second?

[2016-09-26 15:01] geoffroycochard commented on #532
Hi,
In 1.10 branch, [EmailTemplateTransformer waiting for SanitizeHTMLTransformer](https://github.com/orocrm/platform/blob/1.10.4/src/Oro/Bundle/EmailBundle/Form/DataTransformer/EmailTemplateTransformer.php) construct argument (against master branch) otherwise EmailTemplateRichTextType not instantiate it since [1.10.3](https://github.com/orocrm/platform/blob/1.10.3/src/Oro/Bundle/EmailBundle/Form/

[2016-09-26 15:21] jorge-marques commented on #414
Hi. I was version 1.10.2. In the meantime I updated to 1.10.4 and it's now working without any problems.

[2016-09-26 19:16] dewos opened #533 "OroPlatform is very slow with a large user-base"
Hi there!

I'm evaluating OROPlatform for a big incoming project.

We expect to import a large existent user-base, something like 2 million of users, and to map the organization chart to a deep oro's BU tree.

I created 150.000 new users sorted in 150.000 Business Units for testing purpose. I found that the owning-tree invalidation\re-build process, from **OwnerTreeProvider::fillTree()**, iterates

[2016-09-26 19:28] mbessolov commented on #533
Hi @dewos,

AFAIK, there are very few organizations in the world with 2 million or more employees (Walmart, Chinese army,  US Department of Defense).

Can you please provide more information on your use case?

I'm not sure that you need to map your user base to OroPlatform users and BUs as is. Generally we see more records related to customer data  (e.g. customers of an organizations that uses Oro

[2016-09-26 19:47] dewos commented on #533
Hi @mbessolov, thanks for the reply.

The project involves not only one single organization but a network of them. Also it's not only about employees but, we need to grant access (login access) to their clients too. Hence the user base grows fast.

Anyway the system is unresponsive with only 150.000 users, and that number is not a really big in the enterprise world, so if I understood well, the pr

[2016-09-26 21:12] StephenOTT commented on #533
Following

[2016-09-26 21:12] jarycarter commented on #533
Hi @dewos - Thanks for reaching out on this.  Given the size/scale of your project, it definitely makes sense to discuss our Enterprise offering.  Please feel free to connect with me directly - jary@orocrmdotcom and we can talk about the technology differences.

[2016-09-26 21:14] StephenOTT commented on #533
@dewos did you test with just a single BU?  (To identify if it is more of a issue with user count or BU count / structure)

[2016-09-26 21:21] DimaSoroka commented on #533
@dewos, are you testing latest version (1.10.4)?

[2016-09-26 21:33] geoffroycochard commented on #532
i've upgrade two class (EmailTemplateRichTextType, EmailTemplateTransformer) to their master branch version..
No more errors but emails generated don't transform entity data (all dynamic data "N/A")

[2016-09-26 21:45] dewos commented on #533
@StephenOTT It is for both.

@DimaSoroka Let's see, from (1.10.4):

Here the **OwnerTreeListener**[ invalidate the tree](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/SecurityBundle/EventListener/OwnerTreeListener.php#L76) onFlush() of changed User, BusinessUnit and Organization entities.

Here **OwnerTreeProvider** fetches in memory [ALL the users](https://github.com/orocrm/platfo

[2016-09-26 22:35] jarycarter commented on #533
@dewos - We have worked with a handful of customers on OroPlatform Enterprise.  I would be happy to explore it with you.

[2016-09-27 07:36] sbani opened #534 "Refactor oro:platform:update"
@DimaSoroka wanted me to explain the pain with the command `oro:platform:update` and I explained it in slack. Because of no answer, I create this issue with the same text from slack.
# About the `oro:platform:update` process.
## Problem

If you use a cloud hoster (container) or a hoster like platform.sh (specialized for symfony projects) or a CI build process, you need (and want) a two-part update

[2016-09-27 07:53] sbani commented on #533
Thanks @dewos for your usecase.

I just wanted to add (in reply to @mbessolov): You don't need 2M *active* users. Inactive users will be a problem too. I don't know concrete statistics, but I guess there are always more inactive users than active ones in a company. And you don't want to delete the users after they leave.

[2016-09-27 11:16] dewos commented on #533
@sbani 2M? Actually it is, more o less, like rendering a datagrid of the whole **oro_user** table without any pagination, in a single page. 100.000 rows are more than enough to stress the system.

@DimaSoroka In my humble opition, allowing (a good number of) customers to log-in in the platform (for example for downloading an attachment or for completing a workflow) is a pretty basic use-case for a

[2016-09-27 12:45] mbessolov commented on #533
@sbani Even putting OwnerTreeProvider issues aside (let's assume for a minute they are fixed in the next version), IMO, mixing logins (somebody, or something, who needs to be able to login into an application and interact with it) and other user information is not a simplification but rather a complication. When designing a system for a large organization my preference would be to have a separate

[2016-09-27 15:00] DimaSoroka commented on #533
@dewos your use case with customers login is absolutely clear, thanks for this. We are planning to enable "Customer Portal" functionality for this purpose later on. As for the issue itself we'll investigate it and will provide update later.

[2016-09-27 18:51] geoffroycochard commented on #532
Hi,
I've manually upgrade this two files

- [EmailTemplateRichTextType](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/EmailBundle/Form/Type/EmailTemplateRichTextType.php)
- [EmailTemplateTransformer](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/EmailBundle/Form/DataTransformer/EmailTemplateTransformer.php)

It's a temp solution...

[2016-09-27 19:54] LRotherfield opened #535 "Email template edit throws exception 1.10.4"
When trying to edit an email template in version 1.10.4 an exception is thrown because a new `EmailTemplateTransformer` is instantiated without any arguments but it requires a `SanitizeHTMLTransformer` object in it's constructor:

1. https://github.com/orocrm/platform/blob/1.10.4/src/Oro/Bundle/EmailBundle/Form/Type/EmailTemplateRichTextType.php#L19
2. https://github.com/orocrm/platform/blob/1.10.

[2016-09-28 03:24] DimaSoroka commented on #534
Thanks @sbani!

We already facing this issue and working on the solution. In other words file system cache  warmup/build operations should be based ONLY on source code of the application and data cache warmup/deploy operations could use database. Key challenge for now is around extended entities, we are thinking how to solve it in best way.

[2016-09-28 10:58] mkudelya commented on #535
Hi @LRotherfield

Thank you for your report! Fix will be as soon as possible.

[2016-09-28 11:52] LRotherfield commented on #535
It looks like this ticket is actually a duplicate of https://github.com/orocrm/platform/issues/532 and https://github.com/orocrm/crm/issues/218, sorry about that

[2016-09-28 14:31] dewos commented on #533
@mbessolov "Scaling OroPlatform to millions of users".... hopefully! As probably hundreds++ of thousands are too much, right now (oh well... or you'll need sooo much RAM :)

Anyway I am the first to agree with you. A flexible platform should split the verb (Login) from the subject (User, Customer, Supplier etc...), allowing an easy configuration of them. Ideally just a "LoginEntity" to deal with S

[2016-09-29 01:26] sadortun commented on #424
For thoses who are interested, a working prototype is availabe here:

https://github.com/NewEraSystems/platform/tree/feature/424-tag-groups

![image](https://cloud.githubusercontent.com/assets/794449/18937864/23e36040-85c2-11e6-9e18-a8fc60451a07.png)

![image](https://cloud.githubusercontent.com/assets/794449/18937870/2a17912a-85c2-11e6-8822-200a5524b7a5.png)

![image](https://cloud.githubusercont

[2016-09-29 15:02] sergeyz commented on #469
In case label is missing "Open" label will be used
Empty label will not fix issue when required parameter is missing.

[2016-09-29 23:38] adamlundrigan commented on #529
Looks like it's been fixed in 1.10.5 :+1:

https://github.com/orocrm/platform/commit/8117e099a1de0c15fd20bf8a6a4b4e9bc34bb02b#diff-a0b8d9e31e487faca2e522cdf6379e7b

[2016-09-29 23:40] adamlundrigan commented on #529
Looks like it's been fixed in 1.10.5 :+1:
https://github.com/orocrm/platform/commit/8117e099a1de0c15fd20bf8a6a4b4e9bc34bb02b#diff-a0b8d9e31e487faca2e522cdf6379e7b

[2016-09-30 08:48] sergeyz commented on #469
Merged, thanks!

[2016-09-30 08:48] #469 closed

[2016-09-30 10:09] Grygir commented on #529
Yes it is.

[2016-09-30 10:09] #529 closed

[2016-10-01 15:32] adamjakab opened #536 "php zip extension is not checked in reqirements during install"
Just a suggestion - I have successfully managed to install oro platform on a new vps - all my requirements were OK. - When I got to cloud download/install language pack application hung and only js console revealed that I was missing ZipArchive class.
Easily resolvable if you know what's missing. If there is no error message or no requirement check to ensure php-zip is there it could be annoying.

[2016-10-02 19:56] sadortun commented on #508
Hi @artml and @zebimax,

Nice work ! Everything work perfectly  !

[2016-10-02 19:56] #508 closed

[2016-10-03 01:57] sadortun commented on #526
Related to https://github.com/orocrm/platform/issues/381

[2016-10-03 03:42] thinh2010 opened #538 "cannot load resource "." after update composer"
I got this issue after I run composer update.
And I found the problem come from: LiipImagineBundle

You can check the update note of this bundle here:
https://github.com/liip/LiipImagineBundle/blob/1.0/UPGRADE.md#100-alpha5-to-100-alpha6

So please update the config file to suitable with this update.
Thanks.

[2016-10-04 05:32] sadortun opened #539 "DataAudit filter not working on Contact Email"
Hi,

I've created a simple filter
![image](https://cloud.githubusercontent.com/assets/794449/19063455/05dbd268-89d1-11e6-825b-49314f0da745.png)

And i've ensured that there is actually been an event occuring:

![image](https://cloud.githubusercontent.com/assets/794449/19063450/f382f66e-89d0-11e6-9080-71cc28512548.png)

The filter doesnt return the expected segment, but instead return only the Cont

[2016-10-04 11:36] aabbbaa opened #540 "Email password is encrypted and base64 encoded but the database column doesn't have enough space"
Before an email password is saved, it's encrypted with AES-256-CBC and then base64 encoded. The resulting string doesn't fit in the corresponding database column because the column's length is 100 characters but the value can be longer than that.

MySQL silently truncates the value. This in turn makes the IMAP sync feature to not function as it's unable to decrypt the password.

[code]

[2016-10-04 12:29] LRotherfield commented on #535
Thanks for the fix, all seems to be working in [1.10.5](https://github.com/orocrm/platform/tree/1.10.5)

[2016-10-04 12:29] #535 closed

[2016-10-04 12:40] mkudelya commented on #538
Hi

As i understood have you updated composer on master branch? We don't recommend use 'update' command because it may update packages to latest version which we don't tested with orocrm and it maybe unstable. At the moment to get working orocrm please use 'composer install' which get certain versions of packages. To better understand composer update [please read](https://getcomposer.org/doc/01-ba

[2016-10-04 12:42] mkudelya commented on #535
@LRotherfield

Thanks you too!

[2016-10-04 15:02] mkudelya commented on #539
Hi @sadortun

Thank you for your report. I have created bug, it will be fixed as soon as possible.

[2016-10-05 03:29] sadortun opened #541 "Tags should be auditable"
Hello Oro Team,

Currently adding and removing tags to a auditable entity doesnt leave a trace in the change log. Is it wanted by design, or it's a feature you would be interested to add in a later version ?

I think the following cases should be covered :
- [ ] When adding and removing a tag on an auditable entity.
- [ ] When deleting and renaming a tag globally. All related auditable entities

H

[2016-10-05 03:50] thinh2010 commented on #538
Hi,
Thank you for your explanation, I will note this when work in master branch.

[2016-10-05 10:29] rgrebenchuk commented on #540
@aabbbaa Thank you for reporting issue. We will fixe it in nearest release

[2016-10-05 18:14] sadortun commented on #117
@lsmith77  have you tested https://marketplace.orocrm.com/package/oro-hotkeys ?

Related to https://github.com/orocrm/platform/issues/432

[2016-10-06 11:57] fsabeti opened #544 "Using Oro/File as field in an Entity"
Hi everyone

I have an entity that contains file (OroAttachmentBundle:File) as a field. How can I config the mime types that it can accept?

This is my code

`/**`
    `* @var File`
     `* @Assert\Valid()`
    `* @ORM\ManyToOne(targetEntity="Oro\Bundle\AttachmentBundle\Entity\File", cascade={"persist"})`
   `* @ORM\JoinColumn(name="file_id", referencedColumnName="id")`
    `*/`
   `protected $fil

[2016-10-07 11:30] ste93cry commented on #531
Could we relax a bit the composer dependencies? Almost all constraints declared in the `composer.json` of the platform are specific versions of a library, however this means that users trying to use the platform standalone are obliged to use the versions you defined, nothig older nothing newer, even if they are compatible. I tried running tests with a few dependencies updated on Windows, and the r

[2016-10-09 06:57] benyang2015 opened #545 "support symfony3 or not？"

[2016-10-09 20:05] RocKordier commented on #545
@DimaSoroka has answered this already on orocrm forum  a year ago :)
https://www.orocrm.com/forums/topic/roadmap-regarding-upgrade-of-symfony#post-9422

[2016-10-09 20:09] sadortun commented on #545
Oh, @RocKordier  This is in a distant future ! It's expected to be in November 2017 !

![image](https://cloud.githubusercontent.com/assets/794449/19223297/a5baafa8-8e3a-11e6-9230-32e073525dd6.png)

[2016-10-10 13:13] stgmaharshi commented on #95
Is this issue still persist or have you overcome this problem. Please suggest the best possible ways.

[2016-10-10 16:21] sadortun commented on #95
@vsoroka Thanks for providing an example.  Would you be able to implement either a command line command, or a FAQ article that details also how to delete correctly entities that have many-to-many and one-to-many relations ?

We have been faced a few times when deleting or renaming a class, cause a lot of side effects. We were to make the application working again by modifying the metadata by  hand

[2016-10-10 20:35] LRotherfield opened #546 "Can we cache the EntityMaskBuilder instances"
I have been profiling one of our apps with xhprof and noticed that the following method is called many times and is quite expensive:
[Oro\Bundle\SecurityBundle\Acl\Extension\EntityMaskBuilder::preparePermissions](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/SecurityBundle/Acl/Extension/EntityMaskBuilder.php#L63)
I profiled the application on the page (full page refresh) `/email/em

[2016-10-10 23:50] DimaSoroka commented on #531
@ste93cry we can update dependencies by request, but our experience of using .* style versions wasn't good as even patch version releases of some components were braking application. Feel free to submit a PR with updated package dependencies if you have issues with versions defined in composer.json.

[2016-10-11 08:01] ste93cry commented on #531
I would be happy to submit a PR, but this would solve the issue only temporarily. I perfectly understand that given the size of the platform, having relaxed constraints can cause breaks but libraries should follow the semver conventions, so BC breaks should not be possible if the major version is not changed. A lot of other projects use such related constraints, and I don't think they have much pr

[2016-10-11 10:13] sergeyz commented on #531
"twig/twig": "~1.26" is too wide, so in patch version update of platform might be minor vendor update and that is semver violation, see https://github.com/orocrm/crm/issues/210 for more details

cc @sbani

[2016-10-11 10:39] ste93cry commented on #531
I'm not really sure I fully understand the issue about the semver violation. I'm a newbie on the topic, so please be patient with me, but according to [semver ](http://semver.org/) the version number is defined as:

1. MAJOR version when you make incompatible API changes,
2. MINOR version when you add functionality in a backwards-compatible manner, and
3. PATCH version when you make backwards-comp

[2016-10-11 11:14] sergeyz commented on #531
It might. Lets check case with hwi/oauth-bundle update

* [~0.3 is required in composer.json](https://github.com/orocrm/platform/blob/master/composer.json#L71)

* 0.4.2 locked in composer.lock
[code]

* 0.5 [released](https://github.com/hwi/HWIOAuthBundle/releases/tag/0.5.0) and [matches ~0.3 constraints](https://semver.mwl.be/#?package=hwi%2Foauth-bundle&version=~0.3&minimum-stability=stable)

Sa

[2016-10-11 12:44] ste93cry commented on #531
You're correct in saying that updating that library broke your application, but it should not had. Infact, looking at the code they reverted the change to be BC-compatible in [`0.4.0`](https://github.com/hwi/HWIOAuthBundle/commit/65127181c2fc02467f9e293a59efb611d31a420d). Unfortunately, in 0.5 they removed that "BC-compatible layer" and imho, again, they should not had to because according to the

[2016-10-11 12:53] sbani commented on #531
Just my 2cents:

**Minor versions are not safe. Only patch versions _should_ be safe.**

You see a perfect bad example here in `oro/platform` (`UPGRADE-1.10.1.md` - More details here orocrm/crm#210)

Because you cannot trust vendors like the orocrm team, who have problems with semver, you should **always fixate versions for production** and that's why the `composer.lock` was introduced.

He's tota

[2016-10-11 16:10] mkudelya commented on #544
Hi @fsabeti

You can add new mime types [there](https://github.com/orocrm/platform/blob/1.10/src/Oro/Bundle/AttachmentBundle/DependencyInjection/Configuration.php#L25) and configure them in System -> Configuration -> Upload Settings

[2016-10-11 17:49] sadortun opened #547 "OroSearch use MySAM schema that is incompatible with MySQL GTID / Replication"
Hello Oro team,

While deploying on a Mysql 5.7 server that have replication configured, it look like the install script fail.

[code]

current mysql options :
![image](https://cloud.githubusercontent.com/assets/794449/19257332/ac1ea130-8f3c-11e6-96b5-301b203b0a78.png)

Have a good day,
Samuel

[2016-10-12 12:34] LRotherfield commented on #546
I guess the other alternative would be to cache the map by extracting the methods `preparePermissions` and `prepareLevels` into a separate singleton service and injecting that into the `EntityMaskBuilder` instances?

[2016-10-12 20:59] dgspurgin opened #549 "select2-autocomplete-view.js attempting array push on undefined variable"
The following line can return undefined instead of an array:
https://github.com/orocrm/platform/blob/1.9/src/Oro/Bundle/FormBundle/Resources/public/js/app/views/select2-autocomplete-view.js#L11

Push on this line then fails:
https://github.com/orocrm/platform/blob/1.9/src/Oro/Bundle/FormBundle/Resources/public/js/app/views/select2-autocomplete-view.js#L13

Possible fix:
                var selecte

[2016-10-13 00:26] DimaSoroka commented on #546
@LRotherfield , team is going to work on the fix for this issue in the next few weeks, thanks for submitting it and all the details!

[2016-10-13 12:11] Grygir commented on #549
Hello, @dgspurgin

I see that this issue is already fixed in master and platform 1.10. But still can be reproduced in platform 1.9. I will apply the fix in to older version.

Thank you for report.

[2016-10-13 15:10] dgspurgin commented on #549
Thank-you @Grygir ;P

[2016-10-13 17:19] dgspurgin commented on #549
@Ignat fix will also need to be applied to AE forks too, right?

[2016-10-13 18:16] ignat-s commented on #549
@dgspurgin, yes it will be ported later today.

[2016-10-14 13:55] iklymenko commented on #547
Hi @sadortun,
thank you for submitting this issue. We are going to check this issue and others that could appear in MySQL 5.7 and fix them in the next release. We will update you on the progress.

[2016-10-15 08:15] sadortun commented on #547
Hello @iklymenko This prevent modifying opportinities and leads

[2016-10-15 08:30] sadortun commented on #547
@iklymenko Ok, found something, it look like the  `oro_search_index_text` is MySAM instead of Innodb ... Any reason why ?

[code]

[2016-10-16 19:06] StephenOTT commented on #389
We have started work on allowing data from a data Repository such as a REST API to presented in Datagrid and data grids built in functions.

[2016-10-17 15:17] markusrothenbacher opened #551 "workflow pre_conditions contraint fail message popup does not shown anymore"
I have a custom workflow, which worked fine in Oro 1.9
In Oro 1.10.6 the workflow loads fine, but the messages of the failed pre_conditions are not displayed anymore.
All the other functionality workes fine: the button is disabled, when one constraint failes and also the error messages are in the button:

[code]

But the mouse over popup containing the messages does not show anymore.

[2016-10-18 08:44] manowark commented on #551
@markusrothenbacher, our team is going to work on the fix for this issue in the next few weeks!

[2016-10-18 14:03] artml commented on #519
closing due to inactivity

[2016-10-18 14:03] #519 closed

[2016-10-18 14:03] artml commented on #530
@Grygir have we checked it?

[2016-10-18 14:04] #245 closed

[2016-10-18 14:04] artml commented on #220
closing due to no feedback

[2016-10-18 14:04] #220 closed

[2016-10-18 14:04] artml commented on #138
closing due to no feedback

[2016-10-18 14:04] #138 closed

[2016-10-18 14:05] artml commented on #174
closing due to no feedback

[2016-10-18 14:05] #174 closed

[2016-10-18 14:05] artml commented on #342
closing due to no feedback

[2016-10-18 14:05] #342 closed

[2016-10-18 14:19] Grygir commented on #530
@artml not yet, but we have it in plans

[2016-10-19 10:17] markusrothenbacher commented on #551
thanks a lot

[2016-10-20 07:42] benyang2015 opened #552 "Can't install platform"
composer install error:out of memory size.
php.ini memory_limit:2048M

[2016-10-20 09:11] mkudelya commented on #552
Hi @benyang2015
Unfortunately the composer consumes a lot of memory, so the only way - to increase memory_limit.

[2016-10-20 14:34] mkudelya commented on #527
Hi @LRotherfield

Thanks for reporting this issue, we are going to work on the fix.

[2016-10-20 15:22] LRotherfield commented on #527
Can you just return an empty array rather than an empty string?

[2016-10-20 16:07] mkudelya commented on #527
I think you are right. The issue will consider a little later, according to priorities.

[2016-10-24 14:08] alex-barylski commented on #552
I have the PHP memory_limit set to explicit 10GB and -1 and I am still getting this error???

I have confirmed the correct php.ini is being loaded - but even tried installing from CLI:

`php -d memory_limit=-1 C:\ProgramData\ComposerSetup\bin\composer.phar install --prefer-dist --no-dev
`
`php -d memory_limit=5G C:\ProgramData\ComposerSetup\bin\composer.phar install --prefer-dist --no-dev`

[code]

[2016-10-24 14:44] sadortun commented on #552
Hi @alex-barylski  Had the same issue on windows. Ensure you have a  x64 php and apache installed, otherwise you wont be able to make it !

FYI, installing php7 will also solve the issue !

[2016-10-24 14:57] alex-barylski commented on #552
@sadortun thanks for quick reply :)

I am probably running the x86 PHP version...darn it....I will try the 64NTS version. As for Apache - I definitely will not that installed...why would that be a requirement for composer?

[2016-10-24 15:28] sadortun commented on #552
Well,

1. The first issue https://github.com/composer/composer/issues/1898 is a composer issue,
2. On top of that oro have a large dependency tree
3. PHP 5 x86 on windows doesnt seems like it can alocate more than **1.5GGb of RAM**. (http://stackoverflow.com/questions/639540/how-much-memory-can-a-32-bit-process-access-on-a-64-bit-operating-system   **minus** Apache RAM, **minus** PHP RAM

My tests

[2016-10-24 15:58] alex-barylski commented on #552
Running 64 didn't seem to make a difference...upgraded to php7 and it seems to be installing...

[2016-10-24 16:16] sadortun commented on #552
@mkudelya  @artml

Seems like a repeatable issue, maybe a note should be added in the docs to mentioned that PHP5 on windows doesnt work anymore. I saw this problem occuring for the first time a few months ago.

[2016-10-25 05:02] sadortun commented on #552
FYI @alex-barylski  you are not the only one ! https://travis-ci.org/orocrm/crm/jobs/168959882#L171

[2016-10-25 08:44] sergeyz commented on #552
We are going to refactor version constraints to x.x.* and that will decrease memory usage a little bit. Another way to decrease memory usage is to remove unstable deps (knp menu upgrade from 2.x-alpha to 2.x.stable)

[2016-10-27 09:23] ishakuta opened #554 "Upgrade JmsJobQueue bundle to support multiple job daemons"
JmsJobQueue bundle starting from 1.3 version introduced 'lock' feature to obtain kind of lock on command in queue and guarantee that only one job daemon will process it, that allows to have multiple job daemons on different nodes without any potential issues as I understand.

1.4 version seems like minor update and should be used as target version, imho, if you'll decide upgrade is feasible.

Anot

[2016-10-27 14:27] hurricane-voronin commented on #554
Hi @ishakuta ,
We are going to replace JmsJobQueue bundle with [MessageQueue](https://github.com/orocrm/platform/tree/master/src/Oro/Component/MessageQueue)

[2016-10-27 14:39] adamlundrigan opened #556 "Using oro_entity_changeset in a transition form"
In my case ([some details on which are found here](https://www.orocrm.com/forums/topic/workflow-transition-form-with-custom-page-template)) I have a transition form which uses a datagrid and `oro_entity_changeset` to record some selections related to the transition and apply them as part of the actual transition.

This all works very well, except in one case: failed transition form validation. In

[2016-10-28 12:23] ste93cry commented on #552
As far as I understand the problem is that the `composer.json` of the platform does not specify any constraint for the Symfony version and this lead to a massive usage of RAM to compute the final constraints to be used for install. At least, this is what I noticed on my Windows machine with PHP 5.6 32bit

[2016-10-28 12:25] sergeyz commented on #552
We accept symfony 2.8.* https://github.com/orocrm/platform/blob/master/composer.json#L25

[2016-10-28 12:30] ste93cry commented on #552
Yes, you're right, I confused the `composer.json` of the platform with the one of the application (not the CRM, the standalone application). Anyway, for that case having the symfony constraint on the file solved my problem

[2016-10-28 13:03] thinh2010 opened #557 "Problem when install new oro platform"
I am creating new oro platform

git clone https://github.com/orocrm/platform-application.git

I got an error when run composer install --prefer-dist --no-dev

Problem 1
    - oro/platform 1.x-dev requires bower-asset/autobahnjs 0.8.0 -> no matching package found.
    - oro/platform 1.x-dev requires bower-asset/jsplumb ~1.7 -> no matching package found.
    - Installation request for oro/platform 1

[2016-10-28 13:57] mkudelya commented on #557
Hi @thinh2010

Please run this command before composer install:

composer global require "fxp/composer-asset-plugin:~1.2"

Soon we will update our [installation instructions](https://github.com/orocrm/platform-application).

[2016-10-28 14:21] Grygir commented on #530
Moment.JS of version 2.15.2 still has issue moment/moment#2186, so we can not use it without hotfix.

[2016-10-30 14:07] fsabeti commented on #544
Thank you so much Mykhailo
I did that but the problem is not that. I have a problem in validator.
At this part of code:
`$fieldConfigId = $entityAttachmentConfig->getId();`
`            if ($fieldConfigId->getFieldType() === 'file') {`
`                $configValue = 'upload_file_mime_types';`
`            } else {`
`                $configValue = 'upload_image_mime_types';`
`            }`
 `

[2016-10-30 14:11] fsabeti opened #558 "Datagrid Filter"
Hi everyone,
There are some options in filter of datagrid like >= or <= or == to filter the report data. I need to a filter like below;
var <= x AND var >= y (var is column name, x and y are data that user entered.)
How should I do this?
Regards
Farzam

[2016-10-31 09:39] mkudelya commented on #558
Hi @fsabeti

I need some time to investigate, will get back to you with the answer shortly

[2016-10-31 10:10] artml commented on #556
@adamlundrigan yes, a PR will be most welcomed. Thank you!

[2016-10-31 10:13] artml commented on #554
What Denis said. Although JmsJobQueue will remain in the LTS 1.10 branch, we won't put any resources into its enhancements and will focus on MessageQueue in 2.0 instead.

Any contributions are welcome though :)

[2016-10-31 10:17] artml commented on #545
Yes, next year we will start looking at migration to Symfony 3. More likely the second half of the year.

[2016-10-31 10:19] mkudelya commented on #558
Try to use number-range filter type. An example you can find [there](https://github.com/orocrm/crm/blob/1.10/src/OroCRM/Bundle/MagentoBundle/Resources/config/datagrid.yml#L138).

[2016-10-31 13:43] mkudelya commented on #544
Hi @fsabeti

I have tried this migration:

<?php

namespace Custom\Bundle\OroBundle\Migrations\Schema\v1_9;

use Doctrine\DBAL\Schema\Schema;

use Oro\Bundle\MigrationBundle\Migration\Migration;
use Oro\Bundle\MigrationBundle\Migration\QueryBag;
use Oro\Bundle\AttachmentBundle\Migration\Extension\AttachmentExtension;
use Oro\Bundle\AttachmentBundle\Migration\Extension\AttachmentExtensionAwareInter

[2016-11-01 03:33] sadortun opened #560 "Language update cause the language to be desactivated"
Hello Artem,

When a language update is done, the language  is disabled after the update.

1)
![image](https://cloud.githubusercontent.com/assets/794449/19878631/b522a462-9fc1-11e6-9538-a611f9879553.png)

![image](https://cloud.githubusercontent.com/assets/794449/19878634/bd770b58-9fc1-11e6-948e-d68038516084.png)

2)  When the language update is completed, the UI display it was updated correctly.

[2016-11-01 06:39] mbessolov commented on #560
It seems like an inconvenience that can be worked around by a user.
In 2.0 the language management UI is decoupled from System Configuration so there should be no problems like this one anymore.

[2016-11-01 16:52] sadortun commented on #560
Ok, thanks.

[2016-11-01 16:52] #560 closed

[2016-11-01 17:36] duffner opened #561 "When going to localapp.dev/app.php/installer Exception thrown."
Steps to reproduce.

Installation is followed by the following URL: https://github.com/orocrm/platform-application

System Environment,  Vagrant, Ubuntu, PHP7.0 or PHP5.6, MySQL 5.6

1.) ```git clone https://github.com/orocrm/platform-application.git```
2.) ```composer global require "fxp/composer-asset-plugin:~1.2"``` Missing in Install instructions
3.) run ```composer install```
4.)  Go to local

[2016-11-01 20:28] duffner opened #562 "Web Installer JS Errors"
When all prerequisites of installation have been successful, the next button is greyed out, yet still clickable.  The follow JS errors are thrown in the console..  Google Chrome Mac OSX

Installation as followed here: https://github.com/orocrm/platform-application

[code]

[2016-11-02 08:29] Grygir commented on #562
Hi @duffner,

What version of platform-application do you install? Is it dev-master or specific release version?

[2016-11-02 10:06] thinh2010 opened #563 "BusinessUnit doesn't work"
Hi, I am using the dev-master of oro platform. I found an error when I tried to create a new user, I cannot pick the business unit. Could you please check

[2016-11-02 10:41] artml commented on #563
Hi,

Do you have business units created?

[2016-11-02 11:05] thinh2010 commented on #563
I have Main business unit default. And I think the bug related to auto complete search. Event if I re-index the Business Unit Entity, it still cannot search in auto complete form field

[2016-11-02 11:34] mkudelya commented on #561
Hi @duffner

Did you use master branch during install ?

[2016-11-02 13:02] duffner commented on #562
@Grygir, this is master branch of the platform application.  I did have success yesterday when I ran the CLI install differently from your instructions, however never could get the Web Install tool to work correctly.    My success in the CLI install was by running ```php app/console oro:install``` instead of ```php app/console oro:install --env prod```  I'm not sure what the difference is there as

[2016-11-02 13:04] duffner commented on #561
@mkudelya,  I used the master branch during the installation.

Note: I did have success yesterday when I ran the CLI install differently from your instructions, however never could get the Web Install tool to work correctly.    My success in the CLI install was by running ```php app/console oro:install``` instead of ```php app/console oro:install --env prod```  as your instructions state. I'm not

[2016-11-02 13:17] Grygir commented on #562
I just checked installation over HTTP, it went fine.
I see from the screen you've provided, there is incorrect reference on jquery lib.
In the template https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/InstallerBundle/Resources/views/layout.html.twig#L12

But in your screen it is `jquery-2.0.3.min.js`. Guess, you have stale twig templates cache.

Clear application cache for prod and de

[2016-11-02 13:19] duffner commented on #562
Understood, I will give this a try and provide my feedback.  Can you provide me the proper way to clear environment cache, or a link to the documentation?

[2016-11-02 13:23] Grygir commented on #562
[code]

[2016-11-02 15:19] mkudelya commented on #561
Hi @duffner

I suggest you use the latest stable release instead master. Please look at [1.10.8](https://github.com/orocrm/platform-application/tree/1.10.8) version, drop&create database, delete cache (app/cache/prod, app/cache/dev) and install application.

[2016-11-02 15:37] duffner commented on #561
@mkudelya, moving forward what's the best way to know what the current latest stable release is?

[2016-11-02 17:00] mkudelya commented on #561
The best way is:

- Go to [repository](https://github.com/orocrm/platform-application)
- Click on "Branch: master" button
- Find, latest at the moment branch 1.10 (previous was 1.9)
- Checkout it, "git checkout 1.10"

By the way comment about 'composer global required' [appeared](https://github.com/orocrm/platform-application)

[2016-11-03 06:02] #556 closed

[2016-11-03 09:16] thinh2010 commented on #547
Hi @sadortun , I also got problem with oroSearch, I cannot search anything in system, and try use your fix, change the engine to InnoDB, but I got mysql error said that InnoDB doesn't support FULL TEXT indexes. Do you have any ideal? Thanks

[2016-11-03 09:59] mkudelya commented on #547
Hi @thinh2010

[Source](https://dev.mysql.com/doc/refman/5.5/en/fulltext-restrictions.html)

[2016-11-03 10:30] mkudelya commented on #547
Hi @sadortun

I think it was because <= 5.5 version of mysql doesn't support full text indexes.

[2016-11-03 10:52] thinh2010 commented on #547
Hi @mkudelya
I tried update mysql to 5.6, then re-install the platform, but the SearchBundle still doesn't work. I saw the oro_search_item table is empty, and the other oro_search table is empty also.

[2016-11-03 10:56] sergeyz commented on #547
@thinh2010 if you use master branch please execute next line from CLI `app/console oro:message-queue:consume -vvv --env=prod`

@sadortun to make fulltext search work on MySQL 5.1 (according to https://www.orocrm.com/documentation/index/current/system-requirements)

[2016-11-03 11:10] thinh2010 commented on #547
@sergeyz wooowwww thank you, you save my life, it works like a charm

[2016-11-03 11:15] thinh2010 commented on #563
Okie, I just run this command
app/console oro:message-queue:consume -vvv --env=prod
and it solved my problem.

[2016-11-03 11:15] #563 closed

[2016-11-03 11:50] sergeyz commented on #547
@thinh2010 master in public repository is called nightly build - when we have tests passed its pushed without any tags. We are on a way to 2.0 release where we replaced JmsJobQueue with AMPQ (based on ORM in CE and RabbitMQ in EE versions)

So, running daemon is not enough now, you have to run consumer. Docs are outdated a little bit, we'll actualize them before release.

Consider to use 1.10.x re

[2016-11-03 17:18] sadortun commented on #547
@sergeyz Good reason !  Would it be possible to use Innodb if `>= 5.6` is detected, and MySam otherwise ?

I think a requirement should be added during install warning that  `mysql is too old and replication will not be supported using GTID`

[2016-11-03 23:42] DimaSoroka commented on #547
@sadortun, i believe there are no problem to use InnoDB for search index tables with MySQL version >=5.6. Would you like to contribute this fix?

[2016-11-04 01:49] sadortun commented on #547
Hi @DimaSoroka I would be happy to, but i cant promise anything in the next few weeks.

[2016-11-08 20:58] geoffroycochard opened #564 "AssignValueAction don't when called by another post_actions worflow"
Hie,

My use case :
i got 2 workflows in different entities. Entity_1_Workflow_1 and Entity_2_Workflow_2.

[code]
[code]

In my `@custom_action_2` when i call `$workflowManager->transit(entity1WorkflowItem, to_step)` (is_definition is transition_definition in "to_step" transition),` @custom_action_1` is executed but `@assign_value: [$status, 4]` not saved entity update. @assign_value is correctly

[2016-11-08 21:05] mbessolov commented on #564
Thank you Geoffroy, we will try to reproduce.

[2016-11-14 13:14] ishakuta opened #568 "AclAwareMenuFactoryExtension with Redis cache"
In case when redis configured using SncRedisBundle + OroRedisConfigBundle

- app cache is empty, request under dev mode is running first (app_dev.php)
- then request using prod mode
- dynamic menu items, like Custom entities and Custom Reports have `app_dev.php` in their URLs

Seems like this is the reason why it is happening with such setup: [getCacheKey](https://github.com/orocrm/platform/blob/m

[2016-11-14 21:35] duffner commented on #562
This appears to have corrected my issue, I appreciate your insight.  Thank you - You can close this ticket

[2016-11-14 22:39] #562 closed

[2016-11-15 09:38] manowark commented on #564
Hi, @geoffroycochard.

I tried to reproduce your case. But I couldn't.

There is my test configuration of workflow.
[code]

As you see, I have 2 assignment. Only second assignment will change property of my entity.

First assignment set value of attribute `identifier` in `WorkflowData` of `WorkflowItem` attached to your entity. And that attribute stored in the same level that attribute `test` with

[2016-11-15 10:53] stephanvierkant commented on #545
I just started to look into this project and this issue concerns me. I don't think this strategy (only use LTS releases) is a good idea:

- We have to wait at least a year before using other libraries/bundles that use Symfony 3. I'm developing many Symfony projects and almost all popular packages are already compatible with Symfony 3. Sticking to Symfony 2.8 means that new releases of those packag

[2016-11-15 11:03] stephanvierkant commented on #554
@artml Can you share your thoughts about JmsJobQueueBundle? Why 'reinvent the wheel' and not try to improve the bundle?

[2016-11-15 14:48] MarcoOrru opened #569 "Typo in OroUIBundle::macros.html.twig"
Hi,
I don't know if it was already point out, but there is a typo at row 74 (attribute row render name)
`{% macro attibuteRow(title, value, additionalData) %}

[2016-11-15 16:01] mkudelya commented on #569
Hi @MarcoOrru

Thank you! We will fix this typo according with priorities.

[2016-11-15 16:47] mbessolov commented on #545
@stephanvierkant

PHP 5.5 is not a requirement - it is just a minimum supported version  of PHP. You may very well run OroCRM and OroPlatform on PHP 7.x which is fully supported as well.

And in regards to the minimum versions in general - we have certain obligations to our development community and customers in regards to the support of minimal versions of Symfony, PHP and MySQL that we need to h

[2016-11-15 19:25] stephanvierkant commented on #545
@mbessolov Thanks for your reply. Good to know PHP 7 is supported.

@artml's and Dima Soroka's ([this one](https://www.orocrm.com/forums/topic/roadmap-regarding-upgrade-of-symfony/#post-9422)) comments are very clear: we will start looking at Symfony 3 in the future (end 2017).

You are now saying community contributions are welcome to make it compatible with Symfony 3. Does that mean there will b

[2016-11-15 20:43] mbessolov commented on #545
Our release process is documented in the [OroCRM Community Guide ](https://www.orocrm.com/documentation/index/current/community/release-process)

At this time our heads are down into preparation of the [next OroCRM release](https://www.orocrm.com/orocrm-and-platform-roadmap). And our backlog for the first half of 2017 is [already filled with feature requests](https://www.orocrm.com/orocrm-and-plat

[2016-11-16 00:51] DimaSoroka commented on #554
@stephanvierkant , JMSJobQueue is designed to schedule Symfony console commands execution and has few big issues:
- Cost of command execution (each job has to reinitialize the application)
- Sociability (limit on numbers of daemons running)

In terms if "reinvent the wheel" this is very good question, why do we need to reinvent message queue broker if there are already many of them? So based on JM

[2016-11-17 18:43] manowark commented on #564
In other words, you did not change property of your entity with `@assign_value: [$status, 4]`.
To update field `status` of your entity you should use `@assign_value: [$.entity.status, 4]`.

[2016-11-17 19:20] dewos commented on #533
Hi @DimaSoroka, I was wondering. Is there any news about this topic?

[2016-11-17 21:20] DimaSoroka commented on #533
hello @dewos!
We were able to reproduce this issue and made some research on possible solutions. The current bottleneck, as you identified, is in OwnerTreeProvider and we are going to change caching logic there. We are going to work on this issue early next year, in the meantime any contributions are welcome.

[2016-11-19 18:18] StephenOTT commented on #424
@sadortun any further updates?  Worth a PR yet?

[2016-11-19 18:41] sadortun commented on #424
Yes, soon...
- [ ] Adding Migrations

[2016-11-19 19:05] StephenOTT commented on #424
@sadortun any new features added? or refinements?

[2016-11-19 19:40] sadortun commented on #424
@StephenOTT, No, working well enough for now. There is a few more thing that would be nice, but i am not sure if we will have time in the near future.

- [ ] Tag color override Taxonomy color
- [ ] Nested taxonomies (parent tree)
- [ ] Taxonomy search/list page that would display all nested Tags and entities

If you have some spare time, feel free to fork my fork and submit a PR there, I'll submit

[2016-11-20 16:15] stepansib opened #571 "Error when sending email from system mailbox"
Good day.
I'm on OroPlatform 1.10.9.
I have 2 system mailboxes - Gmail and MSExchange, for example
When i try to compose and send email (through Exchange system mailbox) - the following error appears:

But the email was sent.
When i compose and send email from Gmail system mailbox - everything is ok.
Both mailboxes fully set up to work with SMTP and IMAP.

Do you know - what is this and how to get

[2016-11-20 16:53] stepansib commented on #571
I found a hackish solution.
To avoid this error - we need to add system mailbox email addresses to any user's email addresses.
Please fix the code. As i understand - system mailbox should not depends on users settings and email addresses

[2016-11-21 14:19] mkudelya commented on #571
Hi @stepansib

We will try to reproduce the issue.
Thank you

[2016-11-21 18:00] StephenOTT commented on #492
Any movement on this??

[2016-11-22 10:46] mkudelya commented on #492
Currently yml import is working only for workflow, but we are open to contribution.
Thanks!

[2016-11-23 06:01] vodvud opened #572 "DataGrid in popup: doesn't work manage filters dropdown and assigned dropdown"
For example in page http://demo.orocrm.com/desktop/account/update/42
Go to section "Contacts" and push the button ["Add"](http://storage4.static.itmages.com/i/16/1123/h_1479879264_8327998_4dff8db423.jpeg)
After opened popup, you can try to changing/scrolling ["Manage filters" dropdown](http://storage2.static.itmages.com/i/16/1123/h_1479887912_6863053_4c255ad94d.jpeg) or try to changing ["Assigned"

[2016-11-23 11:27] mkudelya commented on #572
Hi Yaroslav

This is known issue, fix will be available in the next release.
Thank you

[2016-11-23 16:32] sadortun commented on #547
Hi @DimaSoroka @mkudelya

I had a look, at the migrations,  do you know how to access the `EntityManager`directly from the migrations ? It does not look like the mysql version is stored anywhere.

[2016-11-24 15:12] mkudelya commented on #547
@sadortun

Try to get connection from [container](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/UserBundle/Migrations/Schema/v1_2/OroUserBundle.php#L55) and get version via 'select version()'. Please do not forget PostgreSQL, EnterpriseDB, Mysql, Maria, Perconа and other forks.

[2016-11-24 17:37] sadortun commented on #547
@thinh2010 Please test the PR, should fix the issue

[2016-11-27 02:04] sadortun opened #574 "Invalid path in email template cause error 500 when used"
For example, create a template with an invalid path  :
{{ path('invalid_path....', {'id': entity.id}) }}

During compose, when  applying the template, the following message is displayed
![image](https://cloud.githubusercontent.com/assets/794449/20645025/95f45eaa-b41b-11e6-8dcb-855841db144d.png)

It would be nice if the paths would be validated as other commands during the template composition, for

[2016-11-28 10:58] mkudelya commented on #574
Hi

Can you describe more detail please, where does error appear ? I have created email campaign, clicked on Send and i don't see any errors, only in log file.

[2016-11-28 14:55] sadortun commented on #574
Hi,

How to reproduce

1. Go to Email-templates
created na template with a link and set the path   `{{ path('invalid_path....', {'id': entity.id}) }}`

2. Save and close.
Note that no error are shown

3. Go to my emails - compose
Select the template you created.  when  applying the template, the following message is displayed
![image](https://cloud.githubusercontent.com/assets/794449/20645025/95f4

[2016-12-01 09:13] mkudelya commented on #547
@sadortun

I think @thinh2010 won't test your PR. Can you look you @sergeyz comment in #573 ?

[2016-12-01 13:06] sadortun commented on #547
Hello @mkudelya, I haven't forgoten you ! Very busy this week.  I'll take a look as soon as Ican.

[2016-12-02 08:47] sbani commented on #488
Any news here?

[2016-12-02 08:48] sbani commented on #320
Do you need any further information?

[2016-12-02 14:23] antoligy opened #575 "Unable to generate assets with installer, without a database"
Hey,

Towards the goal of running Oro as a [12FA](https://12factor.net/)...

The use-case here is that CI generates a container image with `docker`, which is then deployed to pre-production environments and ultimately production.

Currently it's not possible to [generate assets](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/InstallerBundle/Command/InstallCommand.php#L548-L577) with

[2016-12-02 14:35] antoligy opened #576 "Ability to skip running all migrations on oro:migration:load"
Hey,

Towards the goal of running Oro as a [12FA](https://12factor.net/)...

The use-case here is that CI generates a container image with `docker`, which is then deployed to pre-production environments and ultimately production.

Currently when a container is deployed, `oro:migration:load --force` is used as a pre-start script to run any new migrations.  Given that the database already has most o

[2016-12-02 14:38] sadortun commented on #575
Related #534

[2016-12-02 14:38] sadortun commented on #576
Related #534

[2016-12-02 14:39] antoligy commented on #576
Thanks @sadortun, that's much better worded.  Will add a link to that issue in #575 too!

[2016-12-02 17:25] artml commented on #320
@sbani let me check this bug in our backlog, it's been a while. The description looks clear to me though.

[2016-12-02 17:43] artml commented on #571
@stepansib please check the latest master, we've merged the fix

[2016-12-02 17:44] artml commented on #568
@ishakuta as you wish :)

[2016-12-02 17:45] artml commented on #561
all questions appear to be answered so I'm closing this

[2016-12-02 17:45] #561 closed

[2016-12-02 17:48] artml commented on #488
@sbani not yet. The bug is still in our bug lane; we are planning a cleanup during the next release cycle though. Our eventual goal is zero bug development so chances are, this one gets fixed eventually.

[2016-12-02 17:54] artml commented on #424
@sadortun any chance you might submit it within two weeks, before our 2.0 code freeze? I'd love to mention you in our release notes :)

[2016-12-02 18:43] sadortun commented on #424
Sure !  I'll finish the migrations next week.

[2016-12-02 18:57] sadortun commented on #424
@artml Do you think you can push on your side to implement #541 That would be a great addition !

[2016-12-02 19:06] artml commented on #424
@sadortun sadly, no. We have just one sprint left and plenty of features to complete.

I will add it to 2.1 backlog though.

[2016-12-02 19:33] stepansib commented on #571
Thank you, will check in next couple days

On Dec 2, 2016 20:44, "Artem Liubeznyi" <notifications@github.com> wrote:

[2016-12-04 06:03] sadortun commented on #424
Ok, thanks!

[2016-12-05 10:46] artml commented on #572
@vodvud the fix is in the master. Thanks for reporting!

[2016-12-05 13:32] mkudelya commented on #574
Hi

Thank you! Bug has been created.

[2016-12-06 09:03] ste93cry opened #577 "Extract the ChainProcessor component from the platform"
As talked with @DimaSoroka on Slack, I propose to extract the `ChainProcessor` component from the whole platform to its standalone repository. I quickly checked the code and to me it seems that it doesn't use any feature of other bundles/components, so it should be ready to work alone. I would like to use it in my project, so it would be cool if you agree on my proposal to do it as soon as possibl

[2016-12-06 09:58] artml commented on #577
Can't promise the ASAP execution, so marking this as open for contribution for the time being.

[2016-12-06 10:06] ste93cry commented on #577
Maybe I'm missing something, but as I said the component seems ready to be extracted. The only thing you have to do is to split the repository from the main one into its own one and change the `composer.json` of the platform to refer to it.

[2016-12-06 10:22] artml commented on #577
@ste93cry yes, but atm we are fully busy with the release preparation. We'll get back to this after 2.0, in January or later.

[2016-12-07 22:14] sadortun opened #580 "Gmail Calendar Sync"
Hello Oro Team,

Do you expect to implement Gmail Calendar sync ?  This would be a great addition to the email synchronization.

Thanks,
Samuel

[2016-12-08 11:55] artml commented on #580
@sadortun we definitely do. Although we don't consider it for 2.1, it remains in our mid-term plans. Somewhere in 2017 is perhaps the most accurate answer I can give you.

[2016-12-08 13:16] sadortun commented on #580
Thanks @artml  !

[2016-12-10 01:25] adbeliveau opened #581 "Google maps not showing in contacts"
where do we insert the API keys ? I have a google account with an active api key and I have set up the Auth in system configuration.  how ever I get this error

js?v=3.exp&sensor=false&libraries=weather&callback=google.loader.callbacks.maps:37 Google Maps API error: MissingKeyMapError https://developers.google.com/maps/documentation/javascript/error-messages#missing-key-map-error

what am I missin

[2016-12-10 07:41] sadortun commented on #581
Duplicate of #526 and #381

[2016-12-11 01:01] adbeliveau commented on #581
Sorry Sadortun but #381 is an issue with Problem with country of Contacts NOT on how to make the google api work. Also #526 again is not how to make the google maps work in contacts but that the googlemaps.jps needs to be updated.

if you can please offer a solution to my problem that would be great, because the other two offer no solution to the underlying problem of HOW TO MAKE THE GOOGLE MAPS S

[2016-12-11 04:47] sadortun commented on #581
#526 will fix your problem by adding a configurable propriety in the configuration.

Meanwhile, you can hardcode it at your own risk  in `vendor\oro\platform\src\Oro\Bundle\AddressBundle\Resources\public\js\mapservice\googlemaps.js`

[code]

[2016-12-11 23:39] adbeliveau commented on #581
Thank you for your reply, how ever I entered my api key and I sill get the apikey missing error.  there are 2 googlemaps.js  and I did it in both of them

[2016-12-11 23:40] sadortun commented on #581
Did you run oro:platform:update ? Or reinstalled the assets if you are not using symlinks?

[2016-12-11 23:42] adbeliveau commented on #581
i am new to this, no I did not ... i am using composer. ill try oro:platform:update. do i run it from a particular folder or from the main directory

[2016-12-12 00:16] sadortun commented on #581
Sorry, can't help you much..... did you put your key in quotes `"`

[2016-12-12 00:17] adbeliveau commented on #581
i did not the first time, i am updating now with the ""

[2016-12-12 00:34] adbeliveau commented on #581
thanks for the help IT WORKED. now i have to figure out how to add a configurable propriety in the configuration.... dont now code so it will be a challenge.

[2016-12-12 02:21] sadortun commented on #581
You can wait for #526 which will be fixed in 2.0 that should be released soon. :fireworks:

[2016-12-12 16:15] dewos commented on #492
@mkudelya any update on your side? I might try to implement it next weekend.

[2016-12-12 18:36] mkudelya commented on #492
Hi @dewos

Currently we are not planning to do this feature. We very much welcome contributions, thanks.

[2016-12-13 07:57] Avtonom opened #582 "CRITICAL: Contact has no field or association named ac_contact_count"
After add contact items.
Go to url "/contact"

[2016-12-13 09:38] mkudelya commented on #582
Hi @Avtonom

I have some questions. Which version of orocrm are you using ? Is it brand new install or you ever run platform update ? Try to delete your /app/cache/[dev and prod] directories and reload your contact page. After that app/cache/[env_directory]/oro_entities/Extend/Entity/EX_OroCRMContactBundle_Contact.php should contains ac_contact_count property.

[2016-12-13 11:22] Avtonom commented on #582
@mkudelya
this new install. I installed yesterday. version 1.10

After delete your /app/cache/[dev and prod]
Log:
`ERROR: A plural alias for "OroCRM\Bundle\CaseBundle\Entity\CasePriority" entity not found. {"exception":"[object] (Oro\\Bundle\\EntityBundle\\Exception\\EntityAliasNotFoundException(code: 0): A plural alias for \"OroCRM\\Bundle\\CaseBundle\\Entity\\CasePriority\" entity not found. at

[2016-12-13 14:42] mkudelya commented on #582
Try to reinstall your application, probably you had some errors during installation. Before that make sure that cache directories are empty and you have clean database.

[2016-12-13 22:18] alsma opened #583 "IMAP sync failed due to deadlock"
Hi!

We have CRM instance v1.10.1 and sometimes users complaining about long delay in email appearence. I'm investigating this and found in logs that from time to time following error happens(see error message in the end).
Probably this could lead to such delays, because according to [this](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/EmailBundle/Sync/AbstractEmailSynchronizer.php

[2016-12-14 13:01] mkudelya commented on #424
Hi @sadortun

I have merged your PR in master branch. Feature will be available in public platform repository in a few days.

Thanks!

[2016-12-14 13:06] mkudelya commented on #583
Hi @alsma

As i understood the main problem to reduce time waiting next retry. In this case you can for example override findOriginToSync function with new value of $timeShift. I have created bug according to this issue.

[2016-12-14 16:21] mkudelya commented on #547
Hi @sadortun

Is there any chance that you will fix PR notes ?

[2016-12-14 16:23] sadortun commented on #547
Hello @mkudelya I make one of the changes as suggested, for the other one, I am unable to test it well enough, so I attached he'd the patch in the PR so you can validate and test it.

[2016-12-15 16:14] mkudelya commented on #547
@sadortun ok, i will validate this PR and patch.

[2016-12-16 12:44] digedag opened #584 "JS error in role details view"
I registered an new privilege category provider for my entities. After that it is not possible to view or edit a role entity any more. The browser will raise a JavaScript error: **TypeError: categories.unshift is not a function** in **entity-category-tabs-component.js**.

There is an array expected but an object given. The PHP array used as input in tabsOptions.data looks like this:
[code]
The ind

[2016-12-16 16:11] sadortun opened #586 "Filter by tag not working"
Hello Artem,

When creating a query filter, it does not seems possible to filter by tag.

![image](https://cloud.githubusercontent.com/assets/794449/21268965/d671c7b6-c37e-11e6-8c4c-3e1931609c1c.png)

Thanks,
Samuel

[2016-12-16 19:38] alsma opened #587 "Extended field default value"
Hi! We use extended fields to add "soft delete" functionality for some entities.
And currently found an issue related to default value of fields of this kind.
I've added it in a following way in migration
[code]

So it set default value on DB level, but it's impossible to set default value on property level. Due to this fact it required to add event listener that handles prePersist, which looks li

[2016-12-16 19:46] alsma opened #588 "Email delete feature"
Hi! It will be useful to have delete email feature in platform, or similar like google's "archive".
For now we are using "soft delete" as work around, but also facing issues with this because of `\Oro\Bundle\EmailBundle\Entity\EmailUser` is not "extended" entity, so at least it would be nice to make it extendable

[2016-12-17 14:28] dewos commented on #492
@mkudelya I'm on it!

[2016-12-17 16:38] dewos commented on #492
Done

[2016-12-17 16:53] sadortun commented on #492
@dewos Awesome !

[2016-12-18 00:23] sadortun commented on #498
Hello @artml I did rethink about this one and it would worth revisiting this.

This feature should also allow to filter by entities `HAVING` a number of related entities.

For example, to filter entities that
- have  2 or more opportunities
- customers that have multiple orders
- ...

[2016-12-19 09:59] mkudelya commented on #584
Hi @digedag

How can i reproduce the issue ?

[2016-12-19 10:51] digedag commented on #584
I want to add a new tab in role view for my bundles entities. The screenshot shows the result with my fix.

![view_role_tabs](https://cloud.githubusercontent.com/assets/965877/21310046/01b7ff08-c5e1-11e6-9b71-d7960adcbea3.png)

So I registered a new PrivilegeCategoryProvider.
[code]
and in services.yml:
[code]
Finally I added my entites to security category my_data:
[code]
Under user/role/view/ al

[2016-12-19 13:16] Avtonom commented on #582
That helped. Initially, when the database installation script had to miss due to timeout

[2016-12-19 13:16] #582 closed

[2016-12-19 15:10] mkudelya commented on #586
Hi @sadortun

I confirm this bug. It will be fixed according to priorities.

Thanks!

[2016-12-19 17:42] mkudelya commented on #587
Hi @alsma

Thank you for your report. Bug has been created.

[2016-12-19 17:57] mkudelya commented on #492
Hi @dewos

Thank you for your contribution! I will review and test it tomorrow.

[2016-12-19 18:00] artml commented on #588
@alsma Hi Alex, we have this request in our backlog for quite a long time, but so far it hasn't been a priority. I will mark it as open for contribution for now.

[2016-12-19 19:29] mkudelya commented on #584
I have tested your case on 1.10.12 and i didn't get any errors. Which version of orocrm are you using ? Did you wrap 'security' section in defaultValues ?

[2016-12-20 03:53] vodvud commented on #572
Thank you.

[2016-12-20 03:53] #572 closed

[2016-12-20 08:41] digedag commented on #584
I'm running also on 1.10.12 with PHP 5.6 as well as with PHP 7. And the defaultValues section wraps my security part in entity annotation.
Now I did some more investigation to reproduce your successful test. So I checked what are the filtered entries from getPermissionCategories() in [RolePrivilegeCategoryProvider](https://github.com/digedag/platform/blob/03ed7e933f98b6adae43fb09d3f953049f5150f0/s

[2016-12-20 12:05] artml commented on #581
Just FYI: We might have some trouble with releasing this fix within 2.0, and it could be postponed to later maintenance versions

[2016-12-20 20:42] mkudelya commented on #492
I have merged this feature in 1.10 branch and master. The next release of 1.10 will contain it. On master you can see it in the few days.
Thanks!

[2016-12-21 05:47] mkudelya commented on #584
Hi @digedag

Thank you for your contribution. Your pull request will be available in 1.10 and master branches as soon as possible.

[2016-12-21 10:37] dewos commented on #492
@mkudelya Very nice.

I wish you all happy holidays.

[2016-12-21 12:59] alsma opened #590 "Email folder "non selectable" causes removing of all emails from the folder"
Hi.

Today I've received complains from a few our users that they don't see all their emails in CRM.
I've checked DB and did not find any records with their user ids in `oro_email`, `oro_email_user`.
After investigation I've found jobs that contains following output 10 time in a row
[code]

And error output contains

[code]

After that I enabled sync for that folders again and it started to sync w

[2016-12-22 13:09] markusrothenbacher opened #591 "workflow steps and transition buttons are not translated in the UI"
The twigs are simply missing trans statements

Step Translation is missong here:
vendor/oro/platform/src/Oro/Bundle/WorkflowBundle/Resources/views/Widget/widget/steps.html.twig: line 5-6

Buttons I guess here:
vendor/oro/platform/src/Oro/Bundle/WorkflowBundle/Resources/views/macros.html.twig: line 50, 59, maybe line 110,114 also

[2016-12-22 14:45] tadcka opened #592 "Roadmap second version"
When planned release second version?

[2016-12-22 14:52] sadortun commented on #592
` Due by December 31, 2016`

https://github.com/orocrm/platform/milestone/2

[2016-12-22 14:59] tadcka commented on #592
Cool :)

[2016-12-22 15:20] artml commented on #592
@tadcka by the end of the year, unless major problems will happen. We hope they won't :)

[2016-12-22 15:20] #592 closed

[2016-12-22 15:42] sadortun commented on #592
@artml I think 2016 have been long enough as it is :) let's hope there is no more major problems :)  thanks!

[2016-12-22 19:16] alsma opened #593 "Impossible to save grid view for "add context" grid"
It's possible to change grid configuration for grids that are show in "add context" dialogs, but it's impossible to save configuration as "view" and more important for as as "default view"

<img width="1154" alt="screen shot 2016-12-22 at 21 13 54" src="https://cloud.githubusercontent.com/assets/3245855/21437328/e337a378-c88b-11e6-83b8-2cc1ae385955.png">

[2016-12-22 19:55] alsma opened #594 "Dead code in ActivityBundle/CallBundle"
Hi, just want to notice that during development I found a piece of code in ActivityBundle/CallBundle that I surmise is currently not used.

Here they are:
- grid `activity-call-grid`
- controller's action `\Oro\Bundle\ActivityBundle\Controller\ActivityController::activitiesAction`
- placeholder's item `oro_activities`
- `\Oro\Bundle\ActivityBundle\Provider\ActivityWidgetProvider`
- `\Oro\Bundle\Ac

[2016-12-23 01:26] antoligy commented on #575
I see you added a tag about contribution @artml, any pointers as to what or how this might look before I run head-first into this?

[2016-12-23 07:23] sbani commented on #534
While there are more and more people facing the issue, I will come up with the big questions here:

**Do you have any concrete plans?**
Your comment sounds like you are already working on it.
**Do we see any changes in platform 2.0?**
**Do you plan to change the oro workflow step by step or is it more a complete refactoring?**

For me, many features are cool but are implemented "old fashioned" or

[2016-12-23 08:40] mkudelya commented on #547
Thank you @sadortun for your contribution. This feature is already in master.

[2016-12-23 12:54] mkudelya commented on #590
Hi @alsma

Try to install mbstring php extension. Hope it helps.

[2016-12-23 13:12] alsma commented on #590
WHAT!? 👎

[2016-12-23 13:21] alsma commented on #590
Hi @mkudelya

From my POV the main issue is that emails were removed, not the error output itself.

[2016-12-23 15:53] mkudelya commented on #590
Hi @alsma

As i understood you have following STR:

- User has emails
- Sometimes errors has occurred
- When folder can't sync a few times it becomes unchecked.
- When folder is unchecked, sync script removing emails in this folder.

I saw similar issue, therefore i ask you about mbstring. Can you tell me, is it installed or not?

[2016-12-23 22:30] DimaSoroka commented on #534
hi guys

Here is what we are doing and planning to do in regard of this issue as it has direct impact on establishment and configuration of CI/CD for Oro applications.

# Build
As part of the build process we run all tests (unit, functional, Behat and Selenium) and on successful tests execution we prepare artifact with application source code (all dependencies, assets and file caches) and applicat

[2016-12-23 23:20] JacerOmri opened #595 "add relation between ORO entity and a mapped super class child"
Hello,

I was trying to add a many to one relationship between Business Unit entity and My own entity (Provider). That catch here is that Provider extends a single table mapped super class called Contactable.

The code I wrote in a migration class is the following:
[code]

But obviously, as i have to specify a table name and not an entity name, I have no way to specify `target_entity` here (i trie

[2016-12-25 10:33] mkudelya commented on #593
Hi

Yes, this grid doesn't contain this feature. Improvement has been created.
Thanks!

[2016-12-26 11:53] stepansib opened #597 "JS error when DialogWidget window minimized"
Hi, today i faced following issue

When i render the form in DialogWidget and try to minimize it then the JS error appears:

[code]

Error appears only when the datetime field's widget was shown at least one time.
If we dont trigger datetime selection widget - there are no errors

[2016-12-26 14:06] mkudelya commented on #595
Hi @JacerOmri

I don't really understand, why do not you just put on fourth parameter table name of your child entity with annotations like this?

/**
 ** @ORM\Entity
 ** @ORM\Table(name="child_table_name")
 ** @Config()
 */

[2016-12-26 14:10] mkudelya commented on #595
Can you give me, please, some code of your entities, for better understanding ?

[2016-12-26 14:34] mkudelya commented on #591
Hi @markusrothenbacher

Thank you! Improvement has been created.

[2016-12-26 16:31] mbessolov commented on #591
@markusrothenbacher Ability to translate workflow names, step names, transition names and transition warning messages is introduced for ver. 2.0.
It cannot be introduced into previous releases in a backwards compatible manner. Just making use of the translator in the templates you mentioned (as well as in other places) results in other side effects.

[2016-12-26 16:31] #591 closed

[2016-12-27 07:07] sbani commented on #534
Thank you @DimaSoroka for the long and thoughtful comment and the fast response. It helps a lot to understand the process.

Let me comment some minor points with my ideas:

That's what we also do and which "works fine" on our CI system. But please think about the case that you have a hotfix (without database changes). In this scenario, you have to know what you are doing, but if you do (think abou

[2016-12-27 11:01] mkudelya commented on #492
@sadortun

Happy holidays! :)

[2016-12-27 11:19] mkudelya commented on #597
Hi @stepansib

Does dialog look like this ? It also contains datetime field, but error doesn't appear. Which version of orocrm are you using ? For example you can send me the code, so i can see him and reproduce.

![](http://image.prntscr.com/image/26c9a6be28094e94a36c560adda78001.png)

[2016-12-27 11:24] stepansib commented on #597
Hi @mkudelya

I use the platform ver 1.10.10
Interesting) I forgot to look into default CRM application. Will check this implementation. If i will not find any difference - i'll prepare a fork to demonstrate this issue

[2016-12-27 11:58] mkudelya commented on #597
Thanks!

[2016-12-29 04:18] sadortun opened #600 "PHP 7.1 Unit Tests with dates failed to compare microseconds."
Hi,

In PHP 7.1 DateTime constructor incorporates microseconds, this generate errors in tests.
http://php.net/manual/en/migration71.incompatible.php

**PR Is under way**  -> #601

[code]

[2016-12-30 12:45] mkudelya commented on #600
@sadortun thank you! i have merged your changes.

[2017-01-04 16:32] mkudelya commented on #594
Thank you @alsma. We will investigate this code.

[2017-01-05 12:18] javsalgar opened #604 "Swiftmailer Security issue CVE-2016-10074"
On 25.12.2016 a security issue (CVE-2016-10074) was found in the Swiftmailer component for versions lower than 5.4.5. You use a lower version of swiftmailer (swiftmailer-bundle). Could you confirm if that affects the security of the application?

More info: http://pwnscriptum.com/

[2017-01-05 14:58] aistis- opened #605 "Datasource Array adapter needed"
Hello guys,

I am looking an array adapter for datasource. Is there any official? I find only ORM: https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/DataGridBundle/Resources/doc/backend/datasources.md

[2017-01-05 21:12] DimaSoroka commented on #106
Closing this issue as menu was refactored and issue was fixed. Feel free to submit additional details if issue still appears.

[2017-01-05 21:12] #106 closed

[2017-01-06 12:55] ste93cry commented on #577
The component has been split up, or at least there is its repository now. The only thing missing is that it's not published on Packagist yet. Could you do it?

[2017-01-06 14:00] mkudelya commented on #605
Hi @aistis-

We have many datasources, for example try to search by "DatasourceInterface". I suggest you debug this [function](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/DataGridBundle/Datasource/Orm/OrmDatasource.php#L87) and create similar for your needs. Result should contain array of objects which implement ResultRecordInterface interface.

[2017-01-06 15:29] mkudelya commented on #604
Hi @javsalgar

In the [Slack Oro Community](http://orocommunity.slack.com) @sergeyz has already answered on your question:

We don’t have any constraints for swiftmailer and its quite wide in swiftmailer bundle

[2017-01-06 16:25] sergeyz commented on #577
@ste93cry done, https://packagist.org/packages/oro/chain-processor

[2017-01-06 16:40] ste93cry commented on #577
Nice, the only missing thing would be to tag a release as stable

[2017-01-06 16:51] sergeyz commented on #577
I think we should test it on Travis first

[2017-01-06 20:31] sergeyz commented on #577
Yep, but that will not guarantee it works separately. Especially in case with dependencies on other platform bundles that are not standalone

[2017-01-06 21:06] ste93cry commented on #577
The chain processor has no dependencies on other platform bundles/components, at least by looking at the `composer.json`. If you give a look at the repositories of the Symfony components, they are not tested by Travis (there is no `.travis.yml` file)

[2017-01-09 19:20] MikeOtown opened #606 "Magento Integration - newline characters in blank Customer fields"
In Oro\Bundle\IntegrationBundle\Provider\SoapClient->__doRequest(), the call to oroCustomerList with PHP's SoapClient is returning "\n" newline sequences inside blank fields.  See below for a sample response... (newlines show as a space here, but in phpStorm they show as \n)

`<?xml version="1.0" encoding="UTF-8"?>
<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns

[2017-01-10 00:15] mbessolov commented on #564
Closing as no action is required.

[2017-01-10 00:15] #564 closed

[2017-01-10 15:48] mkudelya commented on #606
Hi @MikeOtown

I have tried sync magento on orocrm 1.10.12, magento 1.9.2.4, oro bridge 1.2.8, php 5.6.29 and i retrieved the following response without empty fields:

`
<ns1:oroCustomerListResponse>
<result SOAP-ENC:arrayType="ns1:oroCustomerEntity[2]" xsi:type="ns1:oroCustomerEntityArray">...
<item xsi:type="ns1:oroCustomerEntity">
<customer_id xsi:type="xsd:int">152</customer_id>
<created_at xs

[2017-01-10 16:07] MikeOtown commented on #606
Hi - I'm running on Windows, not sure if that matters.  See also:

[http://stackoverflow.com/questions/41571219/newline-carriage-return-returned-in-blank-fields](url)

You don't have any blank fields - what if you delete that Customer's Date of Birth so that is blank?

OroCRM Enterprise v1.12, Magento CE v1.9.3.1, Oro Bridge (latest - not sure how to tell version number), php 5.6.24

oro:magento:i

[2017-01-10 16:58] mkudelya commented on #606
If i don't enter customer's birth, <dob> tag won't be appear in xml

[2017-01-10 17:12] mkudelya commented on #606
Are you using
http://yourserver.com/api/soap?wsdl
or
http://yourserver.com/api/v2_soap?wsdl
?

[2017-01-10 17:40] MikeOtown commented on #606
/index.php/api/v2_soap/?wsdl=1

For some reason, our Blank fields are appearing in the XML returned from oroCustomerList.

For example:

<increment_id></increment_id>
<prefix></prefix>
<suffix></suffix>
<taxvat></taxvat>
<gender></gender>
<addresses/>

[2017-01-10 21:24] LRotherfield opened #607 "Undefined method getAuthStatus()"
Hi Guys

I recently upgraded a clone of my project to 2.0.0-rc1 and am getting the following error: `Call to undefined method Oro\Bundle\UserBundle\Entity\User::getAuthStatus() `

I have run the `upgrade20` command successfully after deleting my cache folder.  I did have to fix a couple of things and rerun the process but that was to be expected.

My assumption is that the getter and setter for `A

[2017-01-11 10:51] mkudelya commented on #607
Hi @LRotherfield

Can you show me stack trace of error? I have just upgraded from 1.10.12 to 2.0.0-rc.1 without problems. Have script executed AddAuthStatusColumn migration ? This is my part of migrations:

   Oro\Bundle\UserBundle\Migrations\Schema\v1_22\AddImpersonationTable
   Oro\Bundle\UserBundle\Migrations\Schema\v1_23\AddDisableLogin

   **Oro\Bundle\UserBundle\Migrations\Schema\v1_24\AddAu

[2017-01-11 12:25] LRotherfield commented on #607
Hi @mkudelya

The stack trace is unfortunately very small, this is received when logging into the platform `/user/login-check`:
[code]

I did see the migration you are talking about execute, below is the create table output for oro_user which shows the auth status foreign key:

[code]

Please let me know what other information may be helpful

[2017-01-11 13:11] LRotherfield commented on #607
Hi @mkudelya

It looks like something must have been interrupted during my migrations, I have redone the whole install and now my extended cached entity has the getters and setters for `AuthStatus`.

It is interesting that the migrations can complete and run multiple times to produce my above issues.  However I guess the moral of the story is to take a backup and if a dynamic field fails, try the

[2017-01-11 13:11] #607 closed

[2017-01-11 13:25] mkudelya commented on #606
Are you using brand new magento installation ? (without any customization) If no, will you have similar problems with new magento ?

[2017-01-11 13:41] mkudelya commented on #607
Hi @LRotherfield

Because enum fields was originally conceived as a dynamic field which can be added via migrations.

[2017-01-11 21:34] MikeOtown commented on #606
This problem has fixed itself somehow.

[2017-01-11 21:34] #606 closed

[2017-01-14 06:09] fsabeti opened #609 "New event view (twig)"
Hi everybody
I made a new event like CalendarEvent. There is an option like below in CalendarEvent entity config:
`          "reminder"={
              "reminder_template_name"="calendar_reminder",
              "reminder_flash_template_identifier"="calendar_event_template"
          },`
**calendar_reminder** and **calendar_event_template** are twigs. How can I make my own twig and show the new ev

[2017-01-16 11:05] mkudelya commented on #609
Hi

calendar_reminder is email template, you can modify it in System -> Emails -> Templates.
calendar_event_template you can override by creating file with the same path. (YourBundle/Resources/views/CalendarEvent/reminderTemplate.html.twig) [Here](https://www.orocrm.com/forums/topic/how-to-override-parts-of-oro) i described how to override.

[2017-01-16 21:40] DimaSoroka commented on #447
OroPlatform 1.10.13 requires twig 1.24.* and OroPlatform 2.0.0 requires 1.29.*, closing this issue.

[2017-01-16 21:40] #447 closed

[2017-01-17 07:15] sadortun commented on #586
@mkudelya Just found out that this applies to all enumeration like queries. For example :
![image](https://cloud.githubusercontent.com/assets/794449/22011031/cf69dcb6-dc5a-11e6-85ff-d7cd78be1474.png)

[2017-01-17 07:28] sadortun opened #610 "FIlter by : NOT Segment"
Hello Oro Team,

Is there currently a way to build a marketing list using a pre-existing filter to exclude contacts  ? ( eg myField=123 AND NOT  My Segment)

Thanks,
Samuel

[2017-01-17 09:56] Grygir commented on #488
Yes, you are right, the issue is related to a grid name. You have to define unique names for each instance of the same grid. Think the following code will work in your case:
[code]
See https://github.com/orocrm/platform/blob/14601c5/src/Oro/Bundle/DataGridBundle/Resources/doc/backend/scopes.md#specify-scope-in-the-view

[2017-01-17 13:25] dave08 opened #611 "Right to left layout"
Is it easy to implement rtl layout support? What could it involve?

Thanks for a great product!!!

[2017-01-18 12:48] LRotherfield commented on #546
Looks like this is fixed: https://github.com/orocrm/platform/blob/2.0/src/Oro/Bundle/SecurityBundle/Acl/Extension/EntityAclExtension.php#L195
https://github.com/orocrm/platform/blob/2.0/src/Oro/Bundle/SecurityBundle/Acl/Extension/EntityAclExtension.php#L655

Thanks for your hard work guys

[2017-01-18 12:48] #546 closed

[2017-01-18 14:14] mkudelya commented on #586
Hi

Thank you, we took this into account.

[2017-01-18 14:40] artml commented on #610
@sadortun Nope. But it is a good feature request.

[2017-01-18 14:41] #600 closed

[2017-01-18 14:42] #571 closed

[2017-01-18 14:42] #549 closed

[2017-01-18 17:51] LRotherfield commented on #231
This has been updated: https://github.com/orocrm/platform/blob/master/composer.json#L44

[2017-01-18 17:51] #231 closed

[2017-01-18 17:52] LRotherfield commented on #200
@vsoroka do you know if this was fixed, it is super old and I have not tested recently.  I will test in a bit if you have not responded

[2017-01-19 18:26] sadortun opened #613 "Menu edditor"
Hi Oro Team,

Great job on 2.0 release !  One suggestion for your menu editor, it would be quite awesome that in the Add/Edit menu item page, having a autocomplete for the routes based on all the registred routes that have no parameters requirements (or mentioning the route might require parameters) That would make the life easier for the person who is updating or adding new menus.

![image](https

[2017-01-19 22:03] sadortun opened #614 "Address fields display NULL when street field is empty"
Hi, small bug when entering partial addresses.

I should be able to submit a PR soon

![image](https://cloud.githubusercontent.com/assets/794449/22127230/17672856-de69-11e6-9512-326cb802ed04.png)

[2017-01-20 12:22] sergeyz commented on #413
@sbani for 2.0 release phpunit is in require-dev section now, vesion 5.7 required

[2017-01-20 13:00] mkudelya commented on #611
Hi

This is hard question, i think you should change layout in the mirror image, i think by default symfony can't do this. Googling gave almost nothing, but i [found](https://github.com/morteza/bootstrap-rtl) bootstrap v3.x rtl theme.

[2017-01-20 13:03] sbani commented on #413
Thank you @sergeyz for the info.
Can you please explain why you changed it?

[2017-01-20 13:14] sergeyz commented on #413
4.8 is EOL now https://github.com/sebastianbergmann/phpunit/wiki/Release-Announcement-for-PHPUnit-4.8.0

[2017-01-20 13:28] sbani commented on #413
no, I mean why did you choose to add it to the `require-dev` composer section

[2017-01-20 13:30] #540 closed

[2017-01-20 13:32] #551 closed

[2017-01-20 13:34] #536 closed

[2017-01-20 13:51] #525 closed

[2017-01-20 13:56] #520 closed

[2017-01-20 14:01] #515 closed

[2017-01-20 16:27] #526 closed

[2017-01-20 22:13] sergeyz commented on #413
I aimed to share all our build configuration and tools with the community and doing it step by step. Check tools configuration [here](https://github.com/orocrm/platform/tree/master/build)

According to composer [docs](https://getcomposer.org/doc/04-schema.md#require-dev)

Lists packages required for developing this package, or running tests, etc

PHPUnit is our development tool

[2017-01-21 13:24] sbani commented on #413
Ok I get that. But @mbessolov and @iklymenko once said the total difference if you look up in this issue. Though, I'm totally fine with the end result because that's what I had first suggested too.

Could you provide a write up why you created the build dir and why you added vendors with composer global to travis? Are these things really travis specific only?
Why do you change the minimum stabilit

[2017-01-21 16:05] sergeyz commented on #413
Unfortunately, https://github.com/fxpio/composer-asset-plugin doesn't work in local vendors atm. Build dir in the platform repository is a way to share build configuration among all out packages, they require platform in most cases. We plan to release build configuration as a separate package in future.

The similar commands were used on Bambo before Travis. The main reason to do https://github.co

[2017-01-22 01:53] videni commented on #545
it is very sad to know that this can only be done in the end of 2017.

[2017-01-22 03:08] sadortun commented on #545
@videni You are more than welcome to submit a few PRs :) Maybe it could go faster :) !

[2017-01-22 03:24] videni commented on #545
@sadortun, the problem is oro cummunity does not start to  symfony3 migration yet,  even though we submit PRs, they would'nt be meged.

[2017-01-22 03:39] sadortun opened #617 "Migration to 2.x"
Hi Oro Team,

We are migrating a few applications to `2.x`, and i think there is a few errors other users might fell into. I've documented them, if it can help anyone!

PS : The list might get longer, i've grouped all the foundings here instead of creating a ton of different issues.

## Migrations
- [ ] When a migration fail in the SQL,  re-running the migration, the sql queries are executed when

[2017-01-22 03:53] sadortun commented on #545
I think that most of the non-BC changes would be merged, since it can help the various repositories to move toward `3.x`, as you mentioned, if there is BC breaks thoses will have to wait ...

[2017-01-22 08:38] dewos opened #618 "[2.0] $domainObject Exception with access_control in security.yml"
Hi Team,

I'm testing the new platform, and I want to highlight a regression of #53.

Right now with a custom rule in  security.access_control the oro/plaform throws an InvalidDomainObjectException in vendor\oro\platform\src\Oro\Bundle\SecurityBundle\Acl\Domain\ObjectIdAccessor.php at line 46 , similar to the issue fixed in the 1.x branch three years ago. @iklymenko, @DimaSoroka

Cheers.

[2017-01-23 20:52] StephenOTT opened #620 "Add Multiple Renderers for Dashboard Widgets"
Add the ability to have multiple Renderers for a Dashboard Widget so that the same widget can be Rendered as a Admin UI or as a Client Portal UI, or a different render based on config.

[2017-01-24 14:46] mkudelya commented on #287
Hi @sagikazarmark

Sorry for long delay. I have tried ran your docker commands, but "docker-compose run app make setup" produced this error:

Could you provide me your docker logs ? (stdout)
Also i didn't find 'platform-issue287' branch.

[2017-01-24 14:56] stepansib opened #621 "Typo in API howto manual"
We have an example [Turn on API for entity](https://github.com/orocrm/platform/blob/master/src/Oro/Bundle/ApiBundle/Resources/doc/how_to.md#turn-on-api-for-entity) with the following example:
[code]

i think you have to change `api` to `oro_api`